<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <span>
      <i class="far fa-newspaper"></i>
      Add Banner Private
    </span>
  </div>
  <div class="card-body">
    <div class="table-responsive" style="overflow-x: hidden;">
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
          <form>

            <div class="form-group">
              <label for="">Banner Name :</label>
              <input #bannerTitle (blur)="setBannerTitle(bannerTitle.value)" type="text" name="title"
              class="form-control" placeholder="Enter Banner">
            </div>

            <div class="card mb-3">
              <div class="card-body">
                <div class="form-group row">
                  <div class="form-label-group col-md-6">
                    <label for="">Banner Image :</label>
                    <br>
                    <input (change)="setAnnounceBannerFiles($event)" type="file" name="AnnounceBannerImage" id="AnnounceBannerImage" accept="image/*">
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-primary btn-block" (click)="addAnnounce()">Add</button>
            <button class="btn btn-primary btn-block" (click)="Back()">Back</button>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>

<ngx-ui-loader></ngx-ui-loader>
