<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="far fa-newspaper"></i>
    Investment plan Maintain
  </div>

  <div class="card-body">

    <div class="table-responsive" style="overflow-x: hidden; margin-bottom: 10px;">

      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
          <form *ngIf="item" [formGroup]="maintainForm">
            <div class="form-group row">
              <div class="form-label-group col-md-6">
                <label>Inflation</label>
                <input formControlName="inflationCtrl" #inflation (blur)="setInflation(inflation.value)" type="text"
                  class="form-control" placeholder="Enter Inflation">
              </div>
              <div class="form-label-group col-md-6">
                <label>Savings</label>
                <input formControlName="savingsCtrl" #savings (blur)="setSavings(savings.value)" type="text"
                  class="form-control" placeholder="Enter Savings">
              </div>
            </div>

            <div class="card mb-3">
              <div class="card-header sub-card">Expected Return</div>
              <div class="card-body sub-body">
                <div class="form-group row">
                  <div class="form-label-group col-md-2">
                    <input formControlName="exptlvl1Ctrl" #exptlvl1 (blur)="setExptLvl1(exptlvl1.value)" type="text"
                      class="form-control" placeholder="Risk Level 1">
                  </div>
                  <div class="form-label-group col-md-2">
                    <input formControlName="exptlvl2Ctrl" #exptlvl2 (blur)="setExptLvl2(exptlvl2.value)" type="text"
                      class="form-control" placeholder="Risk Level 2">
                  </div>
                  <div class="form-label-group col-md-2">
                    <input formControlName="exptlvl3Ctrl" #exptlvl3 (blur)="setExptLvl3(exptlvl3.value)" type="text"
                      class="form-control" placeholder="Risk Level 3">
                  </div>
                  <div class="form-label-group col-md-2">
                    <input formControlName="exptlvl4Ctrl" #exptlvl4 (blur)="setExptLvl4(exptlvl4.value)" type="text"
                      class="form-control" placeholder="Risk Level 4">
                  </div>
                  <div class="form-label-group col-md-2">
                    <input formControlName="exptlvl5Ctrl" #exptlvl5 (blur)="setExptLvl5(exptlvl5.value)" type="text"
                      class="form-control" placeholder="Risk Level 5">
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-3">
              <div class="card-header sub-card">SD</div>
              <div class="card-body sub-body">
                <div class="form-group row">
                  <div class="form-label-group col-md-2">
                    <input formControlName="sdlvl1Ctrl" #sdlvl1 (blur)="setSDLvl1(sdlvl1.value)" type="text"
                      class="form-control" placeholder="Risk Level 1">
                  </div>
                  <div class="form-label-group col-md-2">
                    <input formControlName="sdlvl2Ctrl" #sdlvl2 (blur)="setSDLvl2(sdlvl2.value)" type="text"
                      class="form-control" placeholder="Risk Level 2">
                  </div>
                  <div class="form-label-group col-md-2">
                    <input formControlName="sdlvl3Ctrl" #sdlvl3 (blur)="setSDLvl3(sdlvl3.value)" type="text"
                      class="form-control" placeholder="Risk Level 3">
                  </div>
                  <div class="form-label-group col-md-2">
                    <input formControlName="sdlvl4Ctrl" #sdlvl4 (blur)="setSDLvl4(sdlvl4.value)" type="text"
                      class="form-control" placeholder="Risk Level 4">
                  </div>
                  <div class="form-label-group col-md-2">
                    <input formControlName="sdlvl5Ctrl" #sdlvl5 (blur)="setSDLvl5(sdlvl5.value)" type="text"
                      class="form-control" placeholder="Risk Level 5">
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-3">
              <div class="card-header sub-card">Drawndown</div>
              <div class="card-body sub-body">
                <div class="form-group row">
                  <div class="form-label-group col-md-2">
                    <input formControlName="ddlvl1Ctrl" #ddlvl1 (blur)="setDDLvl1(ddlvl1.value)" type="text"
                      class="form-control" placeholder="Risk Level 1">
                  </div>
                  <div class="form-label-group col-md-2">
                    <input formControlName="ddlvl2Ctrl" #ddlvl2 (blur)="setDDLvl2(ddlvl2.value)" type="text"
                      class="form-control" placeholder="Risk Level 2">
                  </div>
                  <div class="form-label-group col-md-2">
                    <input formControlName="ddlvl3Ctrl" #ddlvl3 (blur)="setDDLvl3(ddlvl3.value)" type="text"
                      class="form-control" placeholder="Risk Level 3">
                  </div>
                  <div class="form-label-group col-md-2">
                    <input formControlName="ddlvl4Ctrl" #ddlvl4 (blur)="setDDLvl4(ddlvl4.value)" type="text"
                      class="form-control" placeholder="Risk Level 4">
                  </div>
                  <div class="form-label-group col-md-2">
                    <input formControlName="ddlvl5Ctrl" #ddlvl5 (blur)="setDDLvl5(ddlvl5.value)" type="text"
                      class="form-control" placeholder="Risk Level 5">
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-primary btn-block" style="width:100px;" (click)="save()">Save</button>

          </form>
        </div>
      </div>

    </div>

  </div>

  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>

</div>


<ngx-ui-loader></ngx-ui-loader>
<router-outlet></router-outlet>