<div class="card mb-3">
  <div class="card-header">
    <i class="far fa-newspaper"></i>
    Edit Inflation
  </div>

  <div class="card-body">
    <form *ngIf="resInflation">
      <div [formGroup]="editForm" class="form-group">
        <label for="Inflation">Inflation</label>
        <input formControlName="inflation1_control" type="text" #inflation (blur)="setInflation(inflation.value)"
          class="form-control" placeholder="Enter Provident">

        <!-- <label for="Inflation">Inflation 2</label>
        <input type="text" #inflation2 formControlName="inflation2" name="inflation2" class="form-control"
          placeholder="Enter Provident" (blur)="setInflation2(inflation2.value)">

        <label for="Inflation">Inflation 3</label>
        <input type="text" #inflation3 formControlName="inflation3" name="inflation3" class="form-control"
          placeholder="Enter Provident" (blur)="setInflation3(inflation3.value)">

        <label for="Inflation">Inflation 4</label>
        <input type="text" #inflation4 formControlName="inflation4" name="inflation4" class="form-control"
          placeholder="Enter Provident" (blur)="setInflation4(inflation4.value)">

        <label for="Inflation">Inflation 5</label>
        <input type="text" #inflation5 formControlName="inflation5" name="inflation5" class="form-control"
          placeholder="Enter Provident" (blur)="setInflation5(inflation5.value)"> -->
      </div>

      <button class="btn btn-primary btn-block" (click)="editInflation()">Edit</button>
      <button class="btn btn-primary btn-block" (click)="Back()">Back</button>
    </form>


  </div>
</div>