<!-- <div class="contaner-login">
  <div class="container">
    <div class="card card-login mx-auto my-5">
      <div class="card-header">
        Log in
      </div>
      <div class="card-body">
        <div *ngIf="showLoginAlert" class="alert alert-danger" role="alert">{{alertDesc}}</div>
        <form>
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" name="username" class="form-control" placeholder="Username" [(ngModel)]="username">
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" name="Password" class="form-control" placeholder="Password" [(ngModel)]="password">
            </div>
          </div>
          <button class="btn btn-primary btn-block" (click)="clickLogin()">Login
            <i class="fas fa-sign-in-alt"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div> -->

<style>
	@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
	@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);



	.body {
		/* overflow:hidden!important; */
		position: absolute;
		top: -20px;
		left: -20px;
		right: -40px;
		bottom: -40px;
		width: 100%;
		height: 100%;
		/* background-image: url(assets/bg1.png); */
		background-size: cover;
		filter: blur(5px);
		-webkit-filter: blur(5px);
		z-index: 0;
	}

	.grad {
		position: absolute;
		/* top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px; */
		width: 100%;
		height: 100%;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
		/* Chrome,Safari4+ */
		z-index: 1;
		opacity: 0.7;
	}

	.header {
		position: absolute;
		top: calc(40% - 35px);
		left: calc(50% - 500px);
		z-index: 2;
	}

	.header .title {
		float: left;
		color: #fff;
		font-family: 'Exo', sans-serif;
		font-size: 35px;
		font-weight: 200;
		margin-top: 15px;
	}

	.header .title span {
		color: #5379fa !important;
	}

	.login {
		position: absolute;
		top: calc(50% - 105px);
		left: calc(50% - 50px);
		height: 150px;
		width: 350px;
		padding: 10px;
		z-index: 2;
	}

	.login input[type=text] {
		width: 350px;
		height: 50px;
		background: transparent;
		border: 2px solid rgba(255, 255, 255, 0.6);
		border-radius: 2px;
		color: #fff;
		font-family: 'Exo', sans-serif;
		font-size: 20px;
		font-weight: 400;
		padding: 4px;
	}

	.login input[type=password] {
		width: 350px;
		height: 50px;
		background: transparent;
		border: 2px solid rgba(255, 255, 255, 0.6);
		border-radius: 2px;
		color: #fff;
		font-family: 'Exo', sans-serif;
		font-size: 20px;
		font-weight: 400;
		padding: 4px;
		margin-top: 10px;
	}

	.login input[type=button] {
		width: 350px;
		height: 55px;
		background: #fff;
		border: 2px solid #fff;
		cursor: pointer;
		border-radius: 2px;
		color: #000000;
		font-family: 'Exo', sans-serif;
		font-size: 20px;
		font-weight: 400;
		padding: 6px;
		margin-top: 10px;
	}

	.login input[type=button]:hover {
		opacity: 0.8;
	}

	.login input[type=button]:active {
		opacity: 0.6;
	}

	.login input[type=text]:focus {
		outline: none;
		border: 4px solid rgba(255, 255, 255, 0.9);
	}

	.login input[type=password]:focus {
		outline: none;
		border: 4px solid rgba(255, 255, 255, 0.9);
	}

	.login input[type=button]:focus {
		outline: none;
	}

	::-webkit-input-placeholder {
		color: rgba(255, 255, 255, 0.6);
	}

	::-moz-input-placeholder {
		color: rgba(255, 255, 255, 0.6);
	}
</style>


<div class="body"></div>
<div class="grad"></div>
<div class="header">
	<div style="text-align: center;	">
		<img src="../../../assets/images/logo/logo-oneam@2x.png" alt="">
	</div>
	<div class="title">ONE<span>&nbsp;ASSET MANAGEMENT</span></div>
</div>
<br>
<div class="login">
	<div *ngIf="showLoginAlert" class="alert alert-danger" role="alert">{{alertDesc}}</div>
	<input name="username" [(ngModel)]="username" type="text" placeholder="Username"><br>

	<input name="Password"  #password (blur)="setValuePassword(password.value)" type="password" placeholder="Password"
  (keydown)="keyDownFunction($event,password.value)" ><br>

	<input (click)="clickLogin()" type="button" value="Login">
</div>

<ngx-ui-loader></ngx-ui-loader>
