.contaner-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #365d76;
}

.card-login {
    max-width: 25rem;
}
.form-label-group {
    position: relative;
}
.form-label-group > input, .form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: 45px;
    padding-left:8px; 
}
.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.form-control {
    padding-left: 5%;
}

.card-header {
    font-size: 25px;
    color: #365d76;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-body {
    button {
        i {
            padding-left: 10px;
        }
    }
}