<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <span>
      <i class="far fa-newspaper"></i>
      Edit Document
    </span>

  </div>
  <div class="card-body">
    <div class="table-responsive" style="overflow-x: hidden;">
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
          <form *ngIf="docType" [formGroup]="editDocForm">

            <div class="form-group">
              <div class="form-label-group">
                <label for="">Document Type :</label>
                <select class="form-control" formControlName="documentType"
                  (change)="setDocTypeName($event.target.value)">
                  <option *ngFor="let item of docTypeList" [value]="item.id">{{item.Document_type}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="form-label-group">
                <label for="">Document Name :</label>
                <input #docName (blur)="setDocName(docName.value)" type="text" name="title" class="form-control"
                  placeholder="Enter Document Name" formControlName="docName">
              </div>
            </div>

            <div class="form-group">
              <div class="form-label-group">
                <label for="">File Document :</label>
                <br>
                <a target="_blank" href="{{File_Path}}">
                  <img src="../../../assets/images/doc.png" width="10%" />
                </a>
                <br>
                <a target="_blank" href="{{File_Path}}">{{File_Name}}</a>
                <br />
                <br />
                <input (change)="setDocFile($event)" type="file" name="documentFile" id="documentFile" accept="/*">
              </div>
            </div>

            <div class="form-group">
              <div class="form-label-group">
                <label for="">Document Status :</label>
                <select class="form-control" formControlName="tmpStatus"
                  (change)="setDocumentStatus($event.target.value)">
                  <option *ngFor="let item of docStatus" [value]="item.code">{{item.chooes}}</option>
                </select>
              </div>
            </div>

            <button class="btn btn-primary btn-block" (click)="editDocument()">Edit</button>
            <button class="btn btn-primary btn-block" (click)="back()">Back</button>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>