<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <span>
      <i class="far fa-newspaper"></i>
      Add Document
    </span>

  </div>
  <div class="card-body">
    <div class="table-responsive" style="overflow-x: hidden;">
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
          <form>

            <div class="form-group">
              <div class="form-label-group">
                <label for="">Document Type :</label>
                <select class="form-control" (change)="setDocTypeName($event.target.value)">
                  <option *ngFor="let item of docTypeList" [value]="item.id">{{item.Document_type}}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="form-label-group">
                <label for="">Document Name :</label>
                <input #docName (blur)="setDocName(docName.value)" type="text" name="title" class="form-control"
                  placeholder="Enter Document Name">
              </div>
            </div>

            <div class="form-group">
              <div class="form-label-group">
                <label for="">Document Status :</label>
                <select class="form-control" (change)="setDocumentStatus($event.target.value)">
                  <option *ngFor="let item of docStatus" [value]="item.code">{{item.chooes}}</option>
                </select>
              </div>
            </div>

            <div class="card mb-3">
              <div class="card-body">
                <div class="form-group">
                  <div class="form-label-group">
                    <label>Document File :</label>
                    <br>
                    <input (change)="setDocFile($event)" type="file" name="documentFile" id="documentFile" accept="/*">
                  </div>
                </div>
              </div>
            </div>


            <button class="btn btn-primary btn-block" style="width:100px;" (click)="addDocument()">Add</button>
            <button class="btn btn-primary btn-block" style="width:100px;" (click)="back()">Back</button>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>
<ngx-ui-loader></ngx-ui-loader>
