<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <span>
            <i class="far fa-newspaper"></i>
            Add Ethic
        </span>
        <button style="float: right; margin-left: 10px; box-shadow: none" type="button"
            class="btn {{isEn? 'btn-primary': 'btn-light'}}" (click)="setEn()">EN</button>
        <button style="float: right; box-shadow: none" type="button" class="btn {{isTh? 'btn-primary': 'btn-light'}}"
            (click)="setTh()">TH</button>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="overflow-x: hidden;">
            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-12">
                    <form>
                        <div class="form-group">
                            <div class="form-label-group">
                                <label for="">Ethic Type :</label>
                                <select class="form-control" (change)="setEthicType($event.target.value)">
                                    <option *ngFor="let t of typeethic" [value]="t.code">{{t.chooes}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div *ngIf="isTh" class="form-label-group">
                                <label for="">Title (TH):</label>
                                <input #EthicTitle (blur)="setEthicTitle(EthicTitle.value)" type="text" name="title"
                                    class="form-control" placeholder="Enter Title">
                            </div>
                            <div *ngIf="isEn" class="form-label-group">
                                <label for="">Title (EN):</label>
                                <input #EthicTitle (blur)="setEthicTitleEN(EthicTitle.value)" type="text" name="title"
                                    class="form-control" placeholder="Enter Title">
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <label for="">Title Image :</label>
                                        <br>
                                        <input (change)="setEthicFiles($event)" type="file" name="EthicTitleImage"
                                            id="EthicTitleImage" accept="image/*">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="form-label-group col-md-6">
                                        <label for="">Banner Image :</label>
                                        <br>
                                        <input (change)="setEthicBannerFiles($event)" type="file"
                                            name="EthicBannerImage" id="EthicBannerImage" accept="image/*">
                                    </div>
                                    <div class="form-label-group col-md-6">
                                        <label for="">Banner Mobile Image :</label>
                                        <br>
                                        <input (change)="setEthicBannerFiles_mobile($event)" type="file"
                                            name="EthicBannerImage_mobile" id="EthicBannerImage_mobile"
                                            accept="image/*">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-3">
                          <div class="card-body">
                              <div class="form-group row">
                                  <div class="form-label-group col-md-6">
                                       <label for="">Status :</label>
                                      <select class="form-control" (change)="setEthicStatus($event.target.value)">
                                          <option *ngFor="let s of statusethic" [value]="s.code">{{s.chooes}}</option>
                                      </select>
                                  </div>
                                  <div class="form-label-group col-md-6">
                                    <label for="">Public Date :</label>
                                    <input #publicDate (blur)="setPublicDate(publicDate.value)" type="text" class="form-control date_picker" mwlFlatpickr  name="public_date" [(ngModel)]="public_date" placeholder="Select Date" [locale]="'th'">
                                  </div>
                              </div>
                          </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-body">
                                <div [ngSwitch]="ethicType">
                                    <div *ngSwitchCase="'text'">
                                        <div class="form-group">
                                            <div *ngIf="isTh" class="form-label-group">
                                                <label for="">Detail (TH):</label>
                                                <div id="textEditor" [ngxSummernote]="config"></div>
                                            </div>
                                            <div *ngIf="isEn" class="form-label-group">
                                                <label for="">Detail (EN):</label>
                                                <div id="textEditor" [ngxSummernote]="config"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="'image'">
                                        <div class="form-group">
                                            <div class="form-label-group">
                                                <label for="">Content Image :</label>
                                                <br>
                                                <input (change)="setEthicFiles($event)" type="file"
                                                    name="EthicContentImage" id="EthicContentImage" accept="image/*">
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="'pdf'">
                                        <div class="form-group">
                                            <div class="form-label-group">
                                                <label for="">File Ethic :</label>
                                                <br>
                                                <input (change)="setEthicFiles($event)" type="file" name="EthicFile"
                                                    id="EthicFile" accept="/*">
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="'vdo'">
                                        <div class="form-group">
                                            <div class="form-label-group">
                                                <label for="">Youtube Id :</label>
                                                <br>
                                                <input #vdo_id (blur)="setVDOID(vdo_id.value)" type="text" name="vdo_id"
                                                    class="form-control" placeholder="Youtube Id">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-block" style="width:100px;" (click)="addEthic()">Add</button>
                        <button class="btn btn-primary btn-block" style="width:100px;" (click)="Back()">Back</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer small text-muted">
        Updated yesterday at 11:59 PM
    </div>
</div>
<ngx-ui-loader></ngx-ui-loader>
