<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <span>
      <i class="far fa-newspaper"></i>
      Edit Earth Update
    </span>

    <button style="float: right; margin-left: 10px; box-shadow: none" type="button"
      class="btn {{isEn? 'btn-primary': 'btn-light'}}" (click)="setEn()">EN</button>
    <button style="float: right; box-shadow: none" type="button" class="btn {{isTh? 'btn-primary': 'btn-light'}}"
      (click)="setTh()">TH</button>
  </div>
  <div class="card-body">
    <div class="table-responsive" style="overflow-x: hidden;">
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
          <form *ngIf="EarthUpdate" [formGroup]="editEarthUpdateForm">
            <div class="form-group">
              <div class="form-label-group">
                <label for="">Earth Update Type :</label>
                <select formControlName="EarthUpdateTypeControl" class="form-control"
                  (change)="setEarthUpdateType($event.target.value)">
                  <option *ngFor="let t of typeEarthUpdate" [value]="t.code">{{t.chooes}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div *ngIf="isTh" class="form-label-group">
                <label for="">Title (TH) :</label>
                <input formControlName="EarthUpdateTitleControl" #EarthUpdateTitle
                  (blur)="setEarthUpdateTitle(EarthUpdateTitle.value)" type="text" name="title" class="form-control"
                  placeholder="Enter Title">
              </div>
              <div *ngIf="isEn" class="form-label-group">
                <label for="">Title (EN) :</label>
                <input formControlName="EarthUpdateTitleControl" #EarthUpdateTitle
                  (blur)="setEarthUpdateTitle(EarthUpdateTitle.value)" type="text" name="title" class="form-control"
                  placeholder="Enter Title">
              </div>
            </div>

            <div class="card mb-3">
              <div class="card-body">
                <div class="form-group">
                  <div class="form-label-group">
                    <label for="">Title Image :</label>
                    <button *ngIf="title_image != ''" class="btn btn-warning btn-block" style="width:200px;"
                            (click)="deletetitleImg()">Delete</button>
                    <br>
                    <img src="{{title_image}}" width="20%" />
                    <br />
                    <br />
                    <input (change)="setEarthUpdateFiles($event)" type="file" name="EarthUpdateTitleImage"
                      id="EarthUpdateTitleImage" accept="image/*">
                  </div>
                </div>
              </div>
            </div>


            <div class="card mb-3">
              <div class="card-body">
                <div class="form-group row">
                  <div class="form-label-group col-md-6">
                    <table>
                      <tr>
                        <td>
                          <label for="">Banner Image :</label>
                        </td>
                        <td>
                          <button *ngIf="banner_img != ''" class="btn btn-warning btn-block" style="width:200px;"
                            (click)="deleteBanner()">Delete</button>
                        </td>
                      </tr>

                    </table>
                    <br />
                    <img src="{{banner_img}}" width="20%" />
                    <br />

                    <br />
                    <input (change)="setEarthUpdateBannerFiles($event)" type="file" name="EarthUpdateBannerImage"
                      id="EarthUpdateBannerImage" accept="image/*">
                  </div>

                  <div class="form-label-group col-md-6">
                    <table>
                      <tr>
                        <td>
                          <label for="">Banner Mobile Image :</label>
                        </td>
                        <td>
                          <button *ngIf="banner_img_mobile != ''" class="btn btn-warning btn-block" style="width:200px;"
                            (click)="deleteBanner_mobile()">Delete</button>
                        </td>
                      </tr>

                    </table>
                    <br />
                    <img src="{{banner_img_mobile}}" width="20%" />
                    <br />

                    <br />
                    <input (change)="setEarthUpdateBannerFiles_mobile($event)" type="file"
                      name="EarthUpdateBannerImage_mobile" id="EarthUpdateBannerImage_mobile" accept="image/*">
                  </div>


                </div>
              </div>
            </div>

            <div class="card mb-3">
              <div class="card-body">
                  <div class="form-group row">
                      <div class="form-label-group col-md-6">
                        <label for="">Status :</label>
                        <select class="form-control" formControlName="statusControl"
                          (change)="setEarthUpdateStatus($event.target.value)">
                          <option *ngFor="let s of statusEarthUpdate" [value]="s.code">{{s.chooes}}</option>
                        </select>
                      </div>
                      <div class="form-label-group col-md-6">
                        <label for="">Public Date :</label>
                        <input #publicDate (blur)="setPublicDate(publicDate.value)" type="text" class="form-control date_picker" mwlFlatpickr  name="public_date" formControlName="public_date" placeholder="Select Date" [locale]="'th'">
                      </div>
                  </div>
              </div>
            </div>

            <div class="card mb-3">
              <div class="card-body">

                <div [ngSwitch]="EarthUpdateType">
                  <div *ngSwitchCase="'text'">
                    <div class="form-group">
                      <div *ngIf="isTh" class="form-group">
                        <div class="form-label-group">
                          <label for="">Detail (TH) :</label>
                          <div id="textEditor" [ngxSummernote]="config" formControlName="textEditorControl"></div>
                        </div>
                      </div>
                      <div *ngIf="isEn" class="form-group">
                        <div class="form-label-group">
                          <label for="">Detail (EN) :</label>
                          <div id="textEditor" [ngxSummernote]="config" formControlName="textEditorControl"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngSwitchCase="'image'">
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="">Content Image :</label>
                        <br />
                        <img src="{{detail}}" width="20%" />
                        <br />
                        <br />

                        <input (change)="setEarthUpdateFiles($event)" type="file" name="EarthUpdateFile"
                          id="EarthUpdateFile" accept="image/*">
                      </div>
                    </div>
                  </div>
                  <div *ngSwitchCase="'pdf'">
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="">File Earth Update :</label>
                        <br>
                        <a target="_blank" *ngIf="isPDF_old" href="{{detail}}">
                          <img src="../../../assets/images/doc.png" width="10%" />
                        </a>
                        <br>
                        <a target="_blank" *ngIf="isPDF_old" href="{{detail}}">{{title}}</a>
                        <br />
                        <br />
                        <input (change)="setEarthUpdateFiles($event)" type="file" name="EarthUpdateFile"
                          id="EarthUpdateFile" accept="/*">
                      </div>
                    </div>
                  </div>

                  <div *ngSwitchCase="'vdo'">
                    <div class="form-group">
                      <div class="form-label-group">
                        <label for="">Youtube Id :</label>
                        <br>
                        <input formControlName="vdo_id" #vdo_id (blur)="setVDOID(vdo_id.value)" type="text"
                          name="vdo_id" class="form-control" placeholder="Youtube Id">
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>

            <button class="btn btn-primary btn-block" (click)="editEarthUpdate()">Edit</button>
            <button class="btn btn-primary btn-block" (click)="Back()">Back</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>

<ngx-ui-loader></ngx-ui-loader>
