<div class="card mb-3">
  <div class="card-header">
    <span>
      <i class="far fa-newspaper"></i>
      Edit SD
    </span>

  </div>

  <div class="card-body">
    <form *ngIf="resSDlvl1" [formGroup]="editSDForm">
      <div class="form-group row" style="margin-top: 10px;">
        <div class="col-md-6">
          <label>Risk level 1</label>
          <input type="text" #lvl1 class="form-control" (blur)="setSDLvl1(lvl1.value)"
            placeholder="Enter SD risk level 1" formControlName="lvl1Control">
        </div>
        <div class="col-md-6">
          <label>Risk level 2</label>
          <input type="text" #lvl2 class="form-control" (blur)="setSDLvl2(lvl2.value)"
            placeholder="Enter SD risk level 2" formControlName="lvl2Control">
        </div>
        <div class="col-md-6">
          <label>Risk level 3</label>
          <input type="text" #lvl3 class="form-control" (blur)="setSDLvl3(lvl3.value)"
            placeholder="Enter SD risk level 3" formControlName="lvl3Control">
        </div>
        <div class="col-md-6">
          <label>Risk level 4</label>
          <input type="text" #lvl4 class="form-control" (blur)="setSDLvl4(lvl4.value)"
            placeholder="Enter SD risk level 4" formControlName="lvl4Control">
        </div>
        <div class="col-md-6">
          <label>Risk level 5</label>
          <input type="text" #lvl5 class="form-control" (blur)="setSDLvl5(lvl5.value)"
            placeholder="Enter SD risk level 5" formControlName="lvl5Control">
        </div>
      </div>
    </form>


    <button class="btn btn-primary btn-block" (click)="editSD()">Edit</button>
    <button class="btn btn-primary btn-block" (click)="Back()">Back</button>

  </div>
</div>