<app-header></app-header>
<div id="wrapper">
  <app-side-bar></app-side-bar>
  <div id="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <!-- <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a>Dashboard</a>
        </li>
      </ol> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>