#wrapper {
    display: flex;
    #content-wrapper {
        overflow-x: hidden;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 80px;
        max-height: calc(100vh - 64px);
        overflow-y: auto;
    }
}