<div class="card mb-3">
  <div class="card-header">
    <i class="far fa-newspaper"></i>
    Add Provident
  </div>

  <div class="card-body">

    <div class="form-group">
      <label for="Inflation">Provident</label>
      <input type="text" name="Provident" class="form-control" placeholder="Enter Provident" [(ngModel)]="provident">
    </div>

    <button class="btn btn-primary btn-block" style="width:200px;" (click)="addProvident()">Add
      Provident</button>
    <button class="btn btn-primary btn-block" style="width:200px;" (click)="Back()">Back</button>

  </div>
</div>