<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
<style>
  * {
    font-family: 'Dosis', sans-serif;
  }

  .logo {
    width: 5%;
    height: 50%;
    margin-left: 20px;
  }

  .admin {
    font-size: 16px;
    color: rgb(197, 197, 197);
  }

  .navcus {
    background: #212529;
  }

  .line {
    border-bottom-style: solid;
    border-width: .5px;
    border-color: rgb(194, 194, 194);
  }

  .dropdown-toggle::after {
    vertical-align: middle;
  }
</style>

<nav class="navbar navbar-expand-md navbar-dark navcus">
  <img class="logo d-inline-block align-top" src="assets/images/logo/logo-oneam@2x.png" alt="">
  <a class="navbar-brand mb-0 h1" href="/back-office"
    style="color: rgb(197, 197, 197); margin-left:20px; font-size: 24px; padding-top: 0;padding-bottom: 0;">Back
    Office<span style="color:#5379fa;"> Management</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-right:60px;">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle no-arrow" href="#" id="navbarDropdownMenuLink" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!-- <i class="fas fa-user-circle admin" style="padding-right: 10px"></i> -->
          <span class="admin">{{username?.fname }} {{username?.lname}}</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" style="font-size:14px;cursor:pointer !important"  (click)="change_password()">Change Password</a>
          <a class="dropdown-item" style="font-size:14px;cursor:pointer !important"  (click)="userLogout()">Log out</a>
          <!-- href="/back-office/login" -->
        </div>
      </li>
    </ul>
  </div>

</nav>
