<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <span>
      <i class="far fa-newspaper"></i>
      Add User Group
    </span>
  </div>

  <div class="card-body">
    <div class="table-responsive" style="overflow-x: hidden;">
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
          <form>
              <div class="form-group">
                  <div class="form-label-group">
                    <label>Group Name :</label>
                    <input #GroupName (blur)="setGroupName(GroupName.value)" type="text" class="form-control"
                      placeholder="Enter Group Name">
                  </div>
                </div>
            <div class="form-group">
              <div class="form-label-group">
                <label>User Group Status :</label>
                <select class="form-control" (change)="setGroupStatus($event.target.value)">
                  <option *ngFor="let t of data" [value]="t.val">{{t.name}}</option>
                </select>
              </div>
            </div>            

            <button class="btn btn-primary btn-block" style="width:100px;" (click)="addUserGroup()">Add</button>
            <button class="btn btn-primary btn-block" style="width:100px;" (click)="Back()">Back</button>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>

<ngx-ui-loader></ngx-ui-loader>