<div class="card mb-3">
  <div class="card-header">
    <i class="far fa-newspaper"></i>
    Add Expected Return
  </div>

  <div class="card-body">

    <div class="form-group row" style="margin-top: 10px;">
      <div class="col-md-6">
        <label>Risk level 1</label>
        <input type="text" class="form-control" placeholder="Enter Expected Return risk level 1" [(ngModel)]="extlvl1">
      </div>
      <div class="col-md-6">
        <label>Risk level 2</label>
        <input type="text" class="form-control" placeholder="Enter Expected Return risk level 2" [(ngModel)]="extlvl2">
      </div>
      <div class="col-md-6">
        <label>Risk level 3</label>
        <input type="text" class="form-control" placeholder="Enter Expected Return risk level 3" [(ngModel)]="extlvl3">
      </div>
      <div class="col-md-6">
        <label>Risk level 4</label>
        <input type="text" class="form-control" placeholder="Enter Expected Return risk level 4" [(ngModel)]="extlvl4">
      </div>
      <div class="col-md-6">
        <label>Risk level 5</label>
        <input type="text" class="form-control" placeholder="Enter Expected Return risk level 5" [(ngModel)]="extlvl5">
      </div>
    </div>

    <button class="btn btn-primary btn-block" style="width:200px;" (click)="addExpectedReturn()">Add
      Expected Return</button>
    <button class="btn btn-primary btn-block" style="width:200px;" (click)="Back()">Back</button>

  </div>
</div>