<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <span>
      <i class="far fa-newspaper"></i>
      Add User
    </span>
  </div>

  <div class="card-body">
    <div class="table-responsive" style="overflow-x: hidden;">
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
          <form>
            <div class="form-group">
              <div class="form-label-group">
                <label>User Group :</label>
                <select class="form-control" (change)="setGroupName($event.target.value)">
                  <option *ngFor="let t of data" [value]="t.Group_id">{{t.groupName}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <label>User Name :</label>
                <input #UserName (blur)="setUserName(UserName.value)" type="text" class="form-control"
                  placeholder="Enter User Name">
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <label>Password :</label>
                <input #Password (blur)="setPassword(Password.value)" type="password" class="form-control"
                  placeholder="Enter password">
              </div>
            </div>
            <div class="form-group row">
              <div class="form-label-group col-md-6">
                <label>First Name :</label>
                <input #Fname (blur)="setFname(Fname.value)" type="text" class="form-control"
                  placeholder="Enter First Name">
              </div>
              <div class="form-label-group col-md-6">
                <label>Last Name :</label>
                <input #Lname (blur)="setLname(Lname.value)" type="text" class="form-control"
                  placeholder="Enter Last name">
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <label>User Status :</label>
                <select class="form-control" (change)="setUserStatus($event.target.value)">
                  <option *ngFor="let t of userStatus" [value]="t.val">{{t.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <label>Email :</label>
                <input #Email (blur)="setEmail(Email.value)" type="text" class="form-control"
                  placeholder="Enter Email Address">
              </div>
            </div>

            <!-- <div class="card mb-3">
              <div class="card-body">
                <div class="form-group">
                  <label>Set Group CMS Menu Acces :</label>
                  <br>
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th width="80%">CMS Menu Name</th>
                        <th width="20%" class="text-center">CMS Menu Access</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>ข่าวสารและประกาศ</td>
                        <td class="text-center">
                          <input type="checkbox">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> -->
            <button class="btn btn-primary btn-block" style="width:100px;" (click)="addUser()">Add</button>
            <button class="btn btn-primary btn-block" style="width:100px;" (click)="Back()">Back</button>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>

<ngx-ui-loader></ngx-ui-loader>