<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="far fa-newspaper"></i>
    Add Recommend Mapping
  </div>
  <div class="card-body">
    <div class="table-responsive" style="overflow-x: hidden;">
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
          <form>
            <div class="form-group" class="col-sm-12">
              <table>
                <tr>
                  <td>
                    <div class="form-label-group">
                      <!-- <select class="form-control" (change)="setFundName($event.target.value)">
                        <option value="">-- Select Fund --</option>
                        <option *ngFor="let t of fund" [value]="t.FundId">{{t.FundNameTh}}</option>
                      </select> -->
                      <input #FundName (blur)="setFundName(FundName.value)" style="width: 600px" type="text"
                        name="fundName" class="form-control" placeholder="Enter Fund Name">
                    </div>
                  </td>
                  <td><button class="btn btn-primary btn-block" style="width:100px;"
                      (click)="clickSearch()">Search</button></td>
                  <td> <button class="btn btn-primary btn-block" style="width:100px;"
                      (click)="clickback()">Back</button></td>
                </tr>
              </table>

            </div>
            <br />
            <div class="col-sm-12">
              <table>
                <tr>
                  <td style="text-align: center; vertical-align:top;">
                    <table class="table table-bordered" style="width:350px;">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Fund Name</th>
                        </tr>
                      </thead>
                      <tbody>

                        <tr *ngFor="let item of fund">
                          <td>
                            <input #saveUserNameCheckBox id="saveUserNameCheckBox" type="checkbox"
                              (change)="onSaveUsernameChanged(saveUserNameCheckBox.checked,item.FundCode)" />
                          </td>
                          <td style="text-align: left; vertical-align:middle;" *ngIf="item.FundNameEn != ''">
                            {{item.FundCode}}
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </td>
                  <Td style="text-align: center; vertical-align:top;">
                    <br />
                    <br />
                    <br />
                    <br />
                    <button class="btn btn-primary btn-block" style="width:100px;" (click)="select()"> >> </button>
                    <button class="btn btn-primary btn-block" style="width:100px;" (click)="select2()"> << </button>
                  </Td>
                  <Td style="text-align: center; vertical-align:top;">
                    <table class="table table-bordered" style="width:350px;">
                      <thead>

                        <tr>
                          <th></th>
                          <th>Fund Name (Recommend)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of fundMapp">
                          <td>
                            <input #saveUserNameCheckBox id="saveUserNameCheckBox" type="checkbox"
                              (change)="onSaveUsernameChanged2(saveUserNameCheckBox.checked,item.id)" />
                          </td>
                          <td *ngIf="item.FundNameEn != ''" style="text-align: left; vertical-align:middle;">
                            {{item.FundCode}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </Td>
                </tr>
              </table>
            </div>
            <br />
            <br />
            <br />


          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>
<ngx-ui-loader></ngx-ui-loader>