<div class="card mb-3">
  <div class="card-header">
    <i class="far fa-newspaper"></i>
    {{menuName}}
  </div>

  <div [ngSwitch]="choiceFromSelect">
    <div class="card-body" *ngSwitchCase="'display-form'">
      <div class="table-responsive" style="overflow-x: hidden; margin-bottom: 10px;">

        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-12">
            <form *ngIf="investAllo" [formGroup]="editInvestAlloForm">
              <div class="card mb-3">
                <div class="card-body sub-body">
                  <div class="form-group row" style="margin-bottom: 5px;">
                    <div class="form-label-group col-md-4">
                      <select formControlName="slot1TypeCtrl" class="form-control"
                        (change)="setGroup1TypeId($event.target.value)">
                        <option *ngFor="let t of fundType" [value]="t.typeId">{{t.fundType}}</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <button class="btn btn-primary btn-block" style="width:35px;" (click)="addP1()">+</button>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="form-label-group col-md-2">
                      <input formControlName="group1lvl1Ctrl" #group1lvl1 (blur)="setgroup1lvl1(group1lvl1.value)"
                        type="text" class="form-control" placeholder="Risk Level 1">
                    </div>
                    <div class="form-label-group col-md-2">
                      <input formControlName="group1lvl2Ctrl" #group1lvl2 (blur)="setgroup1lvl2(group1lvl2.value)"
                        type="text" class="form-control" placeholder="Risk Level 2">
                    </div>
                    <div class="form-label-group col-md-2">
                      <input formControlName="group1lvl3Ctrl" #group1lvl3 (blur)="setgroup1lvl3(group1lvl3.value)"
                        type="text" class="form-control" placeholder="Risk Level 3">
                    </div>
                    <div class="form-label-group col-md-2">
                      <input formControlName="group1lvl4Ctrl" #group1lvl4 (blur)="setgroup1lvl4(group1lvl4.value)"
                        type="text" class="form-control" placeholder="Risk Level 4">
                    </div>
                    <div class="form-label-group col-md-2">
                      <input formControlName="group1lvl5Ctrl" #group1lvl5 (blur)="setgroup1lvl5(group1lvl5.value)"
                        type="text" class="form-control" placeholder="Risk Level 5">
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">

                <div class="card-body sub-body">
                  <div class="form-group row" style="margin-bottom: 5px;">
                    <div class="form-label-group col-md-4">
                      <select formControlName="slot2TypeCtrl" class="form-control"
                        (change)="setGroup2TypeId($event.target.value)">
                        <option *ngFor="let t of fundType" [value]="t.typeId">{{t.fundType}}</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <button class="btn btn-primary btn-block" style="width:35px;" (click)="addP2()">+</button>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="form-label-group col-md-2">
                      <input formControlName="group2lvl1Ctrl" #group2lvl1 (blur)="setgroup2lvl1(group2lvl1.value)"
                        type="text" class="form-control" placeholder="Risk Level 1">
                    </div>
                    <div class="form-label-group col-md-2">
                      <input formControlName="group2lvl2Ctrl" #group2lvl2 (blur)="setgroup2lvl2(group2lvl2.value)"
                        type="text" class="form-control" placeholder="Risk Level 2">
                    </div>
                    <div class="form-label-group col-md-2">
                      <input formControlName="group2lvl3Ctrl" #group2lvl3 (blur)="setgroup2lvl3(group2lvl3.value)"
                        type="text" class="form-control" placeholder="Risk Level 3">
                    </div>
                    <div class="form-label-group col-md-2">
                      <input formControlName="group2lvl4Ctrl" #group2lvl4 (blur)="setgroup2lvl4(group2lvl4.value)"
                        type="text" class="form-control" placeholder="Risk Level 4">
                    </div>
                    <div class="form-label-group col-md-2">
                      <input formControlName="group2lvl5Ctrl" #group2lvl5 (blur)="setgroup2lvl5(group2lvl5.value)"
                        type="text" class="form-control" placeholder="Risk Level 5">
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">

                <div class="card-body sub-body">
                  <div class="form-group row" style="margin-bottom: 5px;">
                    <div class="form-label-group col-md-4">
                      <select formControlName="slot3TypeCtrl" class="form-control"
                        (change)="setGroup3TypeId($event.target.value)">
                        <option *ngFor="let t of fundType" [value]="t.typeId">{{t.fundType}}</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <button class="btn btn-primary btn-block" style="width:35px;" (click)="addp3()">+</button>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="form-label-group col-md-2">
                      <input formControlName="group3lvl1Ctrl" #group3lvl1 (blur)="setgroup3lvl1(group3lvl1.value)"
                        type="text" class="form-control" placeholder="Risk Level 1">
                    </div>
                    <div class="form-label-group col-md-2">
                      <input formControlName="group3lvl2Ctrl" #group3lvl2 (blur)="setgroup3lvl2(group3lvl2.value)"
                        type="text" class="form-control" placeholder="Risk Level 2">
                    </div>
                    <div class="form-label-group col-md-2">
                      <input formControlName="group3lvl3Ctrl" #group3lvl3 (blur)="setgroup3lvl3(group3lvl3.value)"
                        type="text" class="form-control" placeholder="Risk Level 3">
                    </div>
                    <div class="form-label-group col-md-2">
                      <input formControlName="group3lvl4Ctrl" #group3lvl4 (blur)="setgroup3lvl4(group3lvl4.value)"
                        type="text" class="form-control" placeholder="Risk Level 4">
                    </div>
                    <div class="form-label-group col-md-2">
                      <input formControlName="group3lvl5Ctrl" #group3lvl5 (blur)="setgroup3lvl5(group3lvl5.value)"
                        type="text" class="form-control" placeholder="Risk Level 5">
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">

                <div class="card-body sub-body">
                  <div class="form-group row" style="margin-bottom: 5px;">
                    <div class="form-label-group col-md-4">
                      <select formControlName="slot4TypeCtrl" class="form-control"
                        (change)="setGroup4TypeId($event.target.value)">
                        <option *ngFor="let t of fundType" [value]="t.typeId">{{t.fundType}}</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <button class="btn btn-primary btn-block" style="width:35px;" (click)="addp4()">+</button>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="form-label-group col-md-2">
                      <input formControlName="group4lvl1Ctrl" #group4lvl1 (blur)="setgroup4lvl1(group4lvl1.value)"
                        type="text" class="form-control" placeholder="Risk Level 1">
                    </div>
                    <div class="form-label-group col-md-2">
                      <input formControlName="group4lvl2Ctrl" #group4lvl2 (blur)="setgroup4lvl2(group4lvl2.value)"
                        type="text" class="form-control" placeholder="Risk Level 2">
                    </div>
                    <div class="form-label-group col-md-2">
                      <input formControlName="group4lvl3Ctrl" #group4lvl3 (blur)="setgroup4lvl3(group4lvl3.value)"
                        type="text" class="form-control" placeholder="Risk Level 3">
                    </div>
                    <div class="form-label-group col-md-2">
                      <input formControlName="group4lvl4Ctrl" #group4lvl4 (blur)="setgroup4lvl4(group4lvl4.value)"
                        type="text" class="form-control" placeholder="Risk Level 4">
                    </div>
                    <div class="form-label-group col-md-2">
                      <input formControlName="group4lvl5Ctrl" #group4lvl5 (blur)="setgroup4lvl5(group4lvl5.value)"
                        type="text" class="form-control" placeholder="Risk Level 5">
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">

                <div class="card-body sub-body">
                  <div class="form-group row" style="margin-bottom: 5px;">
                    <div class="form-label-group col-md-4">
                      <select formControlName="slot5TypeCtrl" class="form-control"
                        (change)="setGroup5TypeId($event.target.value)">
                        <option *ngFor="let t of fundType" [value]="t.typeId">{{t.fundType}}</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <button class="btn btn-primary btn-block" style="width:35px;" (click)="addp5()">+</button>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="form-label-group col-md-2">
                      <input formControlName="group5lvl1Ctrl" #group5lvl1 (blur)="setgroup5lvl1(group5lvl1.value)"
                        type="text" class="form-control" placeholder="Risk Level 1">
                    </div>
                    <div class="form-label-group col-md-2">
                      <input formControlName="group5lvl2Ctrl" #group5lvl2 (blur)="setgroup5lvl2(group5lvl2.value)"
                        type="text" class="form-control" placeholder="Risk Level 2">
                    </div>
                    <div class="form-label-group col-md-2">
                      <input formControlName="group5lvl3Ctrl" #group5lvl3 (blur)="setgroup5lvl3(group5lvl3.value)"
                        type="text" class="form-control" placeholder="Risk Level 3">
                    </div>
                    <div class="form-label-group col-md-2">
                      <input formControlName="group5lvl4Ctrl" #group5lvl4 (blur)="setgroup5lvl4(group5lvl4.value)"
                        type="text" class="form-control" placeholder="Risk Level 4">
                    </div>
                    <div class="form-label-group col-md-2">
                      <input formControlName="group5lvl5Ctrl" #group5lvl5 (blur)="setgroup5lvl5(group5lvl5.value)"
                        type="text" class="form-control" placeholder="Risk Level 5">
                    </div>
                  </div>
                </div>
              </div>

              <button class="btn btn-primary btn-block" style="width:100px;" (click)="save()">Save</button>

            </form>
          </div>
        </div>

      </div>

    </div>

    <div class="card-body" *ngSwitchCase="'display-p1'">
      <div class="table-responsive" style="overflow-x: hidden;">
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-12">

            <form>
              <div class="form-group" class="col-sm-12">
                <table>
                  <tr>
                    <td>
                      <div class="form-label-group">
                        <input #FundName (blur)="setFundName1(FundName.value)" style="width: 600px" type="text"
                          name="fundName" class="form-control" placeholder="Enter Fund Name/ Fund Code">
                      </div>
                    </td>
                    <td><button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickSearchp1()">Search</button></td>
                    <td> <button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickbackP1()">Back</button></td>
                  </tr>
                </table>

              </div>
              <br />
              <div class="col-sm-12">
                <table>
                  <tr>
                    <td style="text-align: center; vertical-align:top;">
                      <table class="table table-bordered" style="width:350px;">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Fund Name</th>
                          </tr>
                        </thead>

                        <tbody>

                          <tr *ngFor="let item of fundNotMapp1">
                            <td *ngIf="item.FundName != ''">
                              <input #saveUserNameCheckBox11 id="saveUserNameCheckBox11" type="checkbox"
                                (change)="onSaveUsernameChanged1(saveUserNameCheckBox11.checked, item.FundName)" />
                            </td>
                            <td style="text-align: left; vertical-align:middle;" *ngIf="item.FundName != ''">
                              {{item.FundName}}
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </td>

                    <td style="text-align: center; vertical-align:top;">
                      <br />
                      <br />
                      <br />
                      <br />
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="selectP1()">>></button>
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="delP1()">
                        <<</button> </td> <td style="text-align: center; vertical-align:top;">
                          <table class="table table-bordered" style="width:350px;">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Fund Name (Recommend)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of fundMapp1">
                                <td *ngIf="item.FundName != ''">
                                  <input #saveUserNameCheckBox12 id="saveUserNameCheckBox12" type="checkbox"
                                    (change)="onDeleteUsernameChanged1(saveUserNameCheckBox12.checked,item.id)" />
                                </td>
                                <td *ngIf="item.FundName != ''" style="text-align: left; vertical-align:middle;">
                                  {{item.FundName}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </td>
                  </tr>
                </table>
              </div>
              <br />
              <br />
              <br />

            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body" *ngSwitchCase="'display-p2'">
      <div class="table-responsive" style="overflow-x: hidden;">
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-12">

            <form>
              <div class="form-group" class="col-sm-12">
                <table>
                  <tr>
                    <td>
                      <div class="form-label-group">
                        <input #FundName (blur)="setFundName2(FundName.value)" style="width: 600px" type="text"
                          name="fundName" class="form-control" placeholder="Enter Fund Name/ Fund Code">
                      </div>
                    </td>
                    <td><button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickSearchp2()">Search</button></td>
                    <td> <button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickbackp2()">Back</button></td>
                  </tr>
                </table>

              </div>
              <br />
              <div class="col-sm-12">
                <table>
                  <tr>
                    <td style="text-align: center; vertical-align:top;">
                      <table class="table table-bordered" style="width:350px;">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Fund Name</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr *ngFor="let item of fundNotMapp2">
                            <td *ngIf="item.FundName != ''">
                              <input #saveUserNameCheckBox21 id="saveUserNameCheckBox21" type="checkbox"
                                (change)="onSaveUsernameChanged2(saveUserNameCheckBox21.checked,item.FundName)" />
                            </td>
                            <td style="text-align: left; vertical-align:middle;" *ngIf="item.FundName != ''">
                              {{item.FundName}}
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </td>
                    <td style="text-align: center; vertical-align:top;">
                      <br />
                      <br />
                      <br />
                      <br />
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="selectp2()">>></button>
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="delp2()">
                        <<</button> </td> <td style="text-align: center; vertical-align:top;">
                          <table class="table table-bordered" style="width:350px;">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Fund Name (Recommend)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of fundMapp2">
                                <td *ngIf="item.FundName != ''">
                                  <input #saveUserNameCheckBox22 id="saveUserNameCheckBox22" type="checkbox"
                                    (change)="onDeleteUsernameChanged2(saveUserNameCheckBox22.checked,item.id)" />
                                </td>
                                <td *ngIf="item.FundName != ''" style="text-align: left; vertical-align:middle;">
                                  {{item.FundName}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </td>
                  </tr>
                </table>
              </div>
              <br />
              <br />
              <br />

            </form>


          </div>
        </div>
      </div>
    </div>

    <div class="card-body" *ngSwitchCase="'display-p3'">
      <div class="table-responsive" style="overflow-x: hidden;">
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-12">

            <form>
              <div class="form-group" class="col-sm-12">
                <table>
                  <tr>
                    <td>
                      <div class="form-label-group">
                        <input #FundName (blur)="setFundName3(FundName.value)" style="width: 600px" type="text"
                          name="fundName" class="form-control" placeholder="Enter Fund Name/ Fund Code">
                      </div>
                    </td>
                    <td><button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickSearchp3()">Search</button></td>
                    <td> <button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickbackp3()">Back</button></td>
                  </tr>
                </table>

              </div>
              <br />
              <div class="col-sm-12">
                <table>
                  <tr>
                    <td style="text-align: center; vertical-align:top;">
                      <table class="table table-bordered" style="width:350px;">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Fund Name</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr *ngFor="let item of fundNotMapp3">
                            <td *ngIf="item.FundName != ''">
                              <input #saveUserNameCheckBox31 id="saveUserNameCheckBox31" type="checkbox"
                                (change)="onSaveUsernameChanged3(saveUserNameCheckBox31.checked,item.FundName)" />
                            </td>
                            <td style="text-align: left; vertical-align:middle;" *ngIf="item.FundName != ''">
                              {{item.FundName}}
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </td>
                    <td style="text-align: center; vertical-align:top;">
                      <br />
                      <br />
                      <br />
                      <br />
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="selectp3()">>></button>
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="delp3()">
                        << </button> </td> <td style="text-align: center; vertical-align:top;">
                          <table class="table table-bordered" style="width:350px;">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Fund Name (Recommend)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of fundMapp3">
                                <td *ngIf="item.FundName != ''">
                                  <input #saveUserNameCheckBox32 id="saveUserNameCheckBox32" type="checkbox"
                                    (change)="onDeleteUsernameChanged3(saveUserNameCheckBox32.checked,item.id)" />
                                </td>
                                <td *ngIf="item.FundName != ''" style="text-align: left; vertical-align:middle;">
                                  {{item.FundName}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </td>
                  </tr>
                </table>
              </div>
              <br />
              <br />
              <br />

            </form>


          </div>
        </div>
      </div>
    </div>

    <div class="card-body" *ngSwitchCase="'display-p4'">
      <div class="table-responsive" style="overflow-x: hidden;">
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-12">

            <form>
              <div class="form-group" class="col-sm-12">
                <table>
                  <tr>
                    <td>
                      <div class="form-label-group">
                        <input #FundName (blur)="setFundName4(FundName.value)" style="width: 600px" type="text"
                          name="fundName" class="form-control" placeholder="Enter Fund Name/ Fund Code">
                      </div>
                    </td>
                    <td><button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickSearchp4()">Search</button></td>
                    <td> <button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickbackp4()">Back</button></td>
                  </tr>
                </table>

              </div>
              <br />
              <div class="col-sm-12">
                <table>
                  <tr>
                    <td style="text-align: center; vertical-align:top;">
                      <table class="table table-bordered" style="width:350px;">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Fund Name</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr *ngFor="let item of fundNotMapp4">
                            <td *ngIf="item.FundName != ''">
                              <input #saveUserNameCheckBox41 id="saveUserNameCheckBox41" type="checkbox"
                                (change)="onSaveUsernameChanged4(saveUserNameCheckBox41.checked,item.FundName)" />
                            </td>
                            <td style="text-align: left; vertical-align:middle;" *ngIf="item.FundName != ''">
                              {{item.FundName}}
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </td>
                    <td style="text-align: center; vertical-align:top;">
                      <br />
                      <br />
                      <br />
                      <br />
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="selectp4()">>></button>
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="delp4()">
                        <<</button> </td> <td style="text-align: center; vertical-align:top;">
                          <table class="table table-bordered" style="width:350px;">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Fund Name (Recommend)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of fundMapp4">
                                <td *ngIf="item.FundName != ''">
                                  <input #saveUserNameCheckBox42 id="saveUserNameCheckBox42" type="checkbox"
                                    (change)="onDeleteUsernameChanged4(saveUserNameCheckBox42.checked,item.id)" />
                                </td>
                                <td *ngIf="item.FundName != ''" style="text-align: left; vertical-align:middle;">
                                  {{item.FundName}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </td>
                  </tr>
                </table>
              </div>
              <br />
              <br />
              <br />

            </form>


          </div>
        </div>
      </div>
    </div>

    <div class="card-body" *ngSwitchCase="'display-p5'">
      <div class="table-responsive" style="overflow-x: hidden;">
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-12">

            <form>
              <div class="form-group" class="col-sm-12">
                <table>
                  <tr>
                    <td>
                      <div class="form-label-group">
                        <input #FundName (blur)="setFundName5(FundName.value)" style="width: 600px" type="text"
                          name="fundName" class="form-control" placeholder="Enter Fund Name/ Fund Code">
                      </div>
                    </td>
                    <td><button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickSearchp5()">Search</button></td>
                    <td> <button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickbackp5()">Back</button></td>
                  </tr>
                </table>

              </div>
              <br />
              <div class="col-sm-12">
                <table>
                  <tr>
                    <td style="text-align: center; vertical-align:top;">
                      <table class="table table-bordered" style="width:350px;">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Fund Name</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr *ngFor="let item of fundNotMapp5">
                            <td *ngIf="item.FundName != ''">
                              <input #saveUserNameCheckBox51 id="saveUserNameCheckBox51" type="checkbox"
                                (change)="onSaveUsernameChanged5(saveUserNameCheckBox51.checked,item.FundName)" />
                            </td>
                            <td style="text-align: left; vertical-align:middle;" *ngIf="item.FundName != ''">
                              {{item.FundName}}
                            </td>
                          </tr>

                        </tbody> 
                      </table>
                    </td>
                    <td style="text-align: center; vertical-align:top;">
                      <br />
                      <br />
                      <br />
                      <br />
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="selectp5()">>></button>
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="delp5()">
                        <<</button> </td> <td style="text-align: center; vertical-align:top;">
                          <table class="table table-bordered" style="width:350px;">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Fund Name (Recommend)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of fundMapp5">
                                <td *ngIf="item.FundName != ''">
                                  <input #saveUserNameCheckBox52 id="saveUserNameCheckBox52" type="checkbox"
                                    (change)="onDeleteUsernameChanged5(saveUserNameCheckBox52.checked,item.id)" />
                                </td>
                                <td *ngIf="item.FundName != ''" style="text-align: left; vertical-align:middle;">
                                  {{item.FundName}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </td>
                  </tr>
                </table>
              </div>
              <br />
              <br />
              <br />

            </form>


          </div>
        </div>
      </div>
    </div>


  </div>


  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>

</div>


<ngx-ui-loader></ngx-ui-loader>
<router-outlet></router-outlet>