.card-header {
    font-size: 14px;
    &.sub-card {
        font-size: 13px;
    }
}

.card-body {
    &.sub-body {
        .form-group {
            margin-bottom: 0px;
            input.form-control {
                box-shadow: none;
            }
        }
    }
    .table-responsive {
        .form-control {
            font-size: 12px;
            height: 30px;
        }
        .dataTables_filter {
            .btn-info {
                height: 30px;
                text-align: center;
                font-size: 12px;
            }
        }
        .form-group {
            .form-label-group {
                label {
                    font-size: 14px;
                }
                input.form-control {
                    box-shadow: none;
                }
            }
        }
    }
    .table {
        thead {
            tr {
                font-size: 12px;
            }
        }
        tbody {
            td {
                font-size: 12px;
                vertical-align: middle !important;
                .btn-info {
                    height: 30px;
                    font-size: 12px;
                }
            }
        }
    }
    .btn {
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
}

.pagination {
    margin-bottom: 0;
    .page-item {
        font-size: 12px;
    }
}

.card-footer {
    font-size: 12px;
}