<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="far fa-newspaper"></i>
    Document
  </div>
  <div class="card-body">
    <div class="table-responsive" style="overflow-x: hidden;">

      <div class="row">
        <div class="col-sm-12 col-md-3">
          <input class="form-control" placeholder="Search" #topicSearch (blur)="setFileName(topicSearch.value)"
            type="text" name="topicSearch">
        </div>
        <div class="col-sm-12 col-md-4">
          <div id="dataTable_filter" class="dataTables_filter">
            <select class="form-control" (change)="setDocType($event.target.value)">
              <option *ngFor="let item of docTypeList" [value]="item.id">{{item.Document_type}}</option>
            </select>
          </div>
        </div>

        <div class="col-sm-12 col-md-2">
          <div id="dataTable_filter" class="dataTables_filter">
            <select class="form-control" (change)="setStatus($event.target.value)">
              <option *ngFor="let item of data" [value]="item.val">{{item.name}}</option>
            </select>
          </div>
        </div>

        <div class="col-sm-12 col-md-2">
          <div id="dataTable_filter" class="dataTables_filter">
            <button (click)="getDocFromSerch()" type="submit" class="btn btn-info btn-block">Serach</button>
          </div>
        </div>
        <div class="col-sm-12 col-md-1 ">
          <div id="dataTable_filter" class="dataTables_filter">
            <button class="btn btn-info btn-block float-right" (click)="clickAddDoc()">Add</button>
          </div>
        </div>

        <!-- </form> -->

      </div>

      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Document Name</th>
                <th>Document Type</th>
                <th>Publish Status</th>
                <th>Modify Date</th>
                <th>Modify By</th>
                <th>Edit</th>
                <th>Ordering</th>
                <th>Delete</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of pagedItems">
                <td *ngIf="item.File_Name != ''">{{item.File_Name}}</td>
                <td *ngIf="item.File_Name != ''">{{item.docType}}</td>
                <td *ngIf="item.File_Name != ''">{{item.status}}</td>
                <td *ngIf="item.File_Name != ''">{{changeFormatDate(item.UpdateDate)}}</td>
                <td *ngIf="item.File_Name != ''">{{item.modify}}</td>
                <td *ngIf="item.File_Name != ''">
                  <button class="btn btn-info btn-block" (click)="clickEdit(item.id)">Edit</button>
                </td>
                <td *ngIf="item.File_Name != ''">
                  <button class="btn btn-info btn-block" (click)="clickUp(item.id)">Up</button>
                  <button class="btn btn-info btn-block" (click)="clickDown(item.id)">Down</button>
                </td>
                <td *ngIf="item.File_Name != ''">
                  <button class="btn btn-info btn-block" (click)="clickDel(item.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>

          <nav aria-label="Page navigation example">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
              <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                <a class="page-link" (click)="setPage(1)">First</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
                <a class="page-link" (click)="setPage(page)">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
              </li>
            </ul>
          </nav>


        </div>
      </div>
    </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>
<ngx-ui-loader></ngx-ui-loader>

<router-outlet></router-outlet>