.card-header {
    font-size: 14px;
}

.card-body {
    .table-responsive {
        .form-control {
            font-size: 12px;
            height: 30px;
        }
        .dataTables_filter {
            .btn-info {
                height: 30px;
                text-align: center;
                font-size: 12px;
            }
        }
    }
    .table {
        thead {
            tr {
                font-size: 12px;
            }
        }
        tbody {
            td {
                font-size: 12px;
                vertical-align: middle !important;
                .btn-info {
                    height: 30px;
                    font-size: 12px;
                }
            }
        }
    }
}

.pagination {
    margin-bottom: 0;
    .page-item {
        font-size: 12px;
    }
}

.card-footer {
    font-size: 12px;
}