<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="far fa-newspaper"></i>
    Fund Document Name
  </div>
  <div class="card-body">
    <div class="table-responsive" style="overflow-x: hidden;">

      <div class="row">
        <div class="col-sm-12 col-md-8">
          <input type="text" name="username" class="form-control" placeholder="Search Fund Document Name"
            (blur)="setSearch(topicSearch.value)" #topicSearch (keydown)="keyDownFunction($event,topicSearch.value)">
        </div>

        <div class="col-sm-12 col-md-2">
          <div id="dataTable_filter" class="dataTables_filter">
            <button (click)="getDocFromSearch()" type="submit" class="btn btn-info btn-block">Serach</button>
          </div>
        </div>

        <div class="col-sm-12 col-md-2">
          <div id="dataTable_filter" class="dataTables_filter">
            <button (click)="Add()" type="submit" class="btn btn-info btn-block">Add</button>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th width="45%">Fund Document Name (TH)</th>
                <th width="45%">Fund Document Name (EN)</th>
                <th width="10%" class="text-center">Edit</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of pagedItems">
                <td *ngIf="item.TH_name != ''">{{item.tH_name}}</td>
                <td *ngIf="item.EN_name != ''">{{item.eN_name}}</td>
                <td *ngIf="item.EN_name != ''">
                  <button class="btn btn-info btn-block" (click)="clickEdit(item.id)">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>

          <nav aria-label="Page navigation example">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
              <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                <a class="page-link" (click)="setPage(1)">First</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
                <a class="page-link" (click)="setPage(page)">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
              </li>
            </ul>
          </nav>


        </div>
      </div>
    </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>

<ngx-ui-loader></ngx-ui-loader>
<router-outlet></router-outlet>
