<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <span>
            <i class="far fa-newspaper"></i>
            Edit Governence
        </span>

        <button style="float: right; margin-left: 10px; box-shadow: none" type="button"
            class="btn {{isEn? 'btn-primary': 'btn-light'}}" (click)="setEn()">EN</button>
        <button style="float: right; box-shadow: none" type="button" class="btn {{isTh? 'btn-primary': 'btn-light'}}"
            (click)="setTh()">TH</button>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="overflow-x: hidden;">
            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-12">
                    <form *ngIf="Governence" [formGroup]="editGovernenceForm">
                        <div class="form-group">
                            <div class="form-label-group">
                                <label for="">Governence Type :</label>
                                <select  formControlName="GovernenceTypeControl"
                                    class="form-control" (change)="setGovernenceType($event.target.value)">
                                    <option *ngFor="let t of typeGovernence" [value]="t.code">{{t.chooes}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div *ngIf="isTh" class="form-label-group">
                                <label for="">Title (TH):</label>
                                <input formControlName="GovernenceTitleControl" #GovernenceTitle
                                    (blur)="setGovernenceTitle(GovernenceTitle.value)" type="text" name="title"
                                    class="form-control" placeholder="Enter Title">
                            </div>
                            <div *ngIf="isEn" class="form-label-group">
                                <label for="">Title (EN):</label>
                                <input formControlName="GovernenceTitleControl" #GovernenceTitle
                                    (blur)="setGovernenceTitle(GovernenceTitle.value)" type="text" name="title"
                                    class="form-control" placeholder="Enter Title">
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <label for="">Title Image :</label>
                                        <button *ngIf="title_image != ''" class="btn btn-warning btn-block"
                                            style="width:200px;" (click)="deletetitleImg()">Delete</button>
                                        <br>
                                        <img src="{{title_image}}" width="20%" />
                                        <br />
                                        <br />
                                        <input (change)="setGovernenceFiles($event)" type="file"
                                            name="GovernenceTitleImage" id="GovernenceTitleImage" accept="image/*">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="form-label-group col-md-6">
                                        <table>
                                            <tr>
                                                <td>
                                                    <label for="">Banner Image :</label>
                                                </td>
                                                <td>
                                                    <button *ngIf="banner_img != ''" class="btn btn-warning btn-block"
                                                        style="width:200px;" (click)="deleteBanner()">Delete</button>
                                                </td>
                                            </tr>

                                        </table>
                                        <br />
                                        <img src="{{banner_img}}" width="20%" />
                                        <br />

                                        <br />
                                        <input (change)="setGovernenceBannerFiles($event)" type="file"
                                            name="GovernenceBannerImage" id="GovernenceBannerImage" accept="image/*">
                                    </div>

                                    <div class="form-label-group col-md-6">
                                        <table>
                                            <tr>
                                                <td>
                                                    <label for="">Banner Mobile Image :</label>
                                                </td>
                                                <td>
                                                    <button *ngIf="banner_img_mobile != ''"
                                                        class="btn btn-warning btn-block" style="width:200px;"
                                                        (click)="deleteBanner_mobile()">Delete</button>
                                                </td>
                                            </tr>

                                        </table>
                                        <br />
                                        <img src="{{banner_img_mobile}}" width="20%" />
                                        <br />

                                        <br />
                                        <input (change)="setGovernenceBannerFiles_mobile($event)" type="file"
                                            name="GovernenceBannerImage_mobile" id="GovernenceBannerImage_mobile"
                                            accept="image/*">
                                    </div>

                                </div>
                            </div>
                          </div>

                        <div class="card mb-3">
                          <div class="card-body">
                              <div class="form-group row">
                                  <div class="form-label-group col-md-6">
                                    <label for="">Status :</label>
                                <select class="form-control" formControlName="statusControl"
                                    (change)="setGovernenceStatus($event.target.value)">
                                    <option *ngFor="let s of statusGovernence" [value]="s.code">{{s.chooes}}</option>
                                </select>
                                  </div>
                                  <div class="form-label-group col-md-6">
                                    <label for="">Public Date :</label>
                                    <input #publicDate (blur)="setPublicDate(publicDate.value)" type="text" class="form-control date_picker" mwlFlatpickr  name="public_date" formControlName="public_date" placeholder="Select Date" [locale]="'th'">
                                  </div>
                              </div>
                          </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-body">

                                <div [ngSwitch]="GovernenceType">
                                    <div *ngSwitchCase="'text'">
                                        <div class="form-group">
                                            <div *ngIf="isTh" class="form-label-group">
                                                <label for="">Detail (TH):</label>
                                                <div id="textEditor" [ngxSummernote]="config"
                                                    formControlName="textEditorControl"></div>
                                            </div>
                                            <div *ngIf="isEn" class="form-label-group">
                                                <label for="">Detail (EN):</label>
                                                <div id="textEditor" [ngxSummernote]="config"
                                                    formControlName="textEditorControl"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="'image'">
                                        <div class="form-group">
                                            <div class="form-label-group">
                                                <label for="">Content Image :</label>
                                                <br />
                                                <img src="{{detail}}" width="20%" />
                                                <br />
                                                <br />

                                                <input (change)="setGovernenceFiles($event)" type="file"
                                                    name="GovernenceFile" id="GovernenceFile" accept="image/*">
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="'pdf'">
                                        <div class="form-group">
                                            <div class="form-label-group">
                                                <label for="">File Governence :</label>
                                                <br>
                                                <a target="_blank" href="{{detail}}">
                                                    <img src="../../../assets/images/doc.png" width="10%" />
                                                </a>
                                                <br>
                                                <a target="_blank" href="{{detail}}">{{title}}</a>
                                                <br />
                                                <br />
                                                <input (change)="setGovernenceFiles($event)" type="file"
                                                    name="GovernenceFile" id="GovernenceFile" accept="/*">
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="'vdo'">
                                        <div class="form-group">
                                            <div class="form-label-group">
                                                <label for="">Youtube Id :</label>
                                                <br>
                                                <input formControlName="vdo_id" #vdo_id (blur)="setVDOID(vdo_id.value)"
                                                    type="text" name="vdo_id" class="form-control"
                                                    placeholder="Youtube Id">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-block" (click)="editGovernence()">Edit</button>
                        <button class="btn btn-primary btn-block" (click)="Back()">Back</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer small text-muted">
        Updated yesterday at 11:59 PM
    </div>
</div>

<ngx-ui-loader></ngx-ui-loader>
