<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="far fa-newspaper"></i>
    Announcement
  </div>
  <div class="card-body">
    <div class="table-responsive" style="overflow-x: hidden;">

      <div class="row">
        <div class="col-sm-12 col-md-4">
          <input class="form-control" placeholder="Search" (keydown)="keyDownFunction($event,topicSearch.value)"
           #topicSearch (blur)="setSearch(topicSearch.value)" type="text" name="topicSearch" >
        </div>
        <div class="col-sm-12 col-md-4">
          <div id="dataTable_filter" class="dataTables_filter">
            <select class="form-control" (change)="setStatus($event.target.value)">
              <option *ngFor="let item of data" [value]="item.val">{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-12 col-md-2">
          <div id="dataTable_filter" class="dataTables_filter">
            <button (click)="getNewsFromSerch()" type="submit" class="btn btn-info btn-block">Serach</button>
          </div>
        </div>
        <div class="col-sm-12 col-md-2 ">
          <div id="dataTable_filter" class="dataTables_filter">
            <button class="btn btn-info btn-block float-right" (click)="clickAddAnnounce()">Add Announce</button>
          </div>
        </div>

        <!-- </form> -->

      </div>

      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr class="text-center">
                <th width="60%">Title</th>
                <th width="15%">Public Date</th>
                <th width="15%">Modify Date</th>
                <th width="20%">Modify By</th>
                <th width="10%">Status</th>
                <th width="10%">Edit</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of pagedItems">
                <td *ngIf="item.Title != ''">{{item.title}}</td>
                <td class="text-center" *ngIf="item.TItle != ''">{{ date_thai(item.publicDate) }}</td>
                <td class="text-center" *ngIf="item.TItle != ''">{{ date_convert(item.updateDate) }}</td>
                <td *ngIf="item.Title != ''">{{item.modify}}</td>
                <td *ngIf="item.Title != ''">{{item.status}}</td>
                <td *ngIf="item.Title != ''">
                  <button class="btn btn-info btn-block" (click)="clickEdit(item.announceid)">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>

          <nav aria-label="Page navigation example">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
              <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                <a class="page-link" (click)="setPage(1)">First</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
                <a class="page-link" (click)="setPage(page)">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
              </li>
            </ul>
          </nav>


        </div>
      </div>
    </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>
<ngx-ui-loader></ngx-ui-loader>

<router-outlet></router-outlet>
