<div class="card mb-3">
  <div class="card-header">
    <i class="far fa-newspaper"></i>
    Add SD
  </div>

  <div class="card-body">

    <div class="form-group row" style="margin-top: 10px;">
      <div class="col-md-6">
        <label>Risk level 1</label>
        <input type="text" class="form-control" placeholder="Enter SD risk level 1" [(ngModel)]="sdlvl1">
      </div>
      <div class="col-md-6">
        <label>Risk level 2</label>
        <input type="text" class="form-control" placeholder="Enter SD risk level 2" [(ngModel)]="sdlvl2">
      </div>
      <div class="col-md-6">
        <label>Risk level 3</label>
        <input type="text" class="form-control" placeholder="Enter SD risk level 3" [(ngModel)]="sdlvl3">
      </div>
      <div class="col-md-6">
        <label>Risk level 4</label>
        <input type="text" class="form-control" placeholder="Enter SD risk level 4" [(ngModel)]="sdlvl4">
      </div>
      <div class="col-md-6">
        <label>Risk level 5</label>
        <input type="text" class="form-control" placeholder="Enter SD risk level 5" [(ngModel)]="sdlvl5">
      </div>
    </div>

    <button class="btn btn-primary btn-block" style="width:200px;" (click)="addSD()">Add
      SD</button>
    <button class="btn btn-primary btn-block" style="width:200px;" (click)="Back()">Back</button>

  </div>
</div>