<div class="card mb-3">
  <div class="card-header">
    <span>
      <i class="far fa-newspaper"></i>
      {{groupName}}
    </span>
  </div>
  <div class="card-body">
    <div class="table-responsive" style="overflow-x: hidden;">
      <div class="row">
        <div class="col-sm-12">

          <form>
            <br />
            <div class="col-sm-12">
              <table>
                <tr>
                  <td style="text-align: center; vertical-align:top;">
                    <table class="table table-bordered" style="width:400px;">
                      <thead>
                        <tr>
                          <th width="15%"></th>
                          <th>Menu Name</th>
                        </tr>
                      </thead>
                      <tbody>

                        <tr *ngFor="let item of menuNotMap">
                          <td *ngIf="item.menu_name != ''">
                            <input #selMenuMapp id="selMenuMapp" type="checkbox"
                              (change)="saveMenu(selMenuMapp.checked,item.Menu_id)" />
                          </td>
                          <td style="text-align: left; vertical-align:middle;" *ngIf="item.menu_name != ''">
                            {{item.menu_name}}
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </td>
                  <td style="text-align: center; vertical-align:top;">
                    <br />
                    <br />
                    <br />
                    <br />
                    <button class="btn btn-primary btn-block" style="width:50px;" (click)="selectMenuMapp()">>></button>
                    <button class="btn btn-primary btn-block" style="width:50px;" (click)="delMenuMapp()">
                      <<</button> </td> <td style="text-align: center; vertical-align:top;">
                        <table class="table table-bordered" style="width:400px;">
                          <thead>
                            <tr>
                              <th width="15%"></th>
                              <th>Menu Name (Mapped)</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of menuMapped">
                              <td *ngIf="item.menu_name != ''">
                                <input #delMenuMapped id="delMenuMapped" type="checkbox"
                                  (change)="delMenu(delMenuMapped.checked,item.Menu_id)" />
                              </td>
                              <td *ngIf="item.menu_name != ''" style="text-align: left; vertical-align:middle;">
                                {{item.menu_name}}</td>
                            </tr>
                          </tbody>
                        </table>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td><button class="btn btn-primary btn-block" style="width:50px;"
                      (click)="Back()">Back</button></td>
                  <td></td>
                </tr>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>

<ngx-ui-loader></ngx-ui-loader>