<div class="card mb-3">
  <div class="card-header">
    <i class="far fa-newspaper"></i>
    Add Fund Document Name
  </div>
  <div class="card-body">
    <div class="table-responsive" style="overflow-x: hidden;">
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
          <form>
            <div class="form-group">
              <div class="form-label-group">
                <label>Document Name (TH) :</label>
                <input #DocNameTH (blur)="setDocNameTH(DocNameTH.value)" type="text" name="title" class="form-control"
                  placeholder="Enter Document Name (TH)">
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <label>Document Name (EN) :</label>
                <input #DocNameEN (blur)="setDocNameEN(DocNameEN.value)" type="text" name="title" class="form-control"
                  placeholder="Enter Document Name (EN)">
              </div>
            </div>

            <button class="btn btn-primary btn-block" style="width:100px;" (click)="addDocName()">Add</button>
            <button class="btn btn-primary btn-block" style="width:100px;" (click)="Back()">Back</button>
          </form>
        </div>

      </div>
    </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>

<ngx-ui-loader></ngx-ui-loader>