<div class="card mb-3">
  <div class="card-header">
    <span>
      <i class="far fa-newspaper"></i>
      Edit Provident
    </span>

  </div>

  <div class="card-body">
    <form  *ngIf="resProvident" [formGroup]="editProvidentForm">
      <div class="form-group">
        <label for="Inflation">Provident</label>
        <input type="text" #provident formControlName="providentControl" name="provident" class="form-control"
          placeholder="Enter Provident" (blur)="setProvident(provident.value)">
      </div>

      <button class="btn btn-primary btn-block" (click)="editProvident()">Edit</button>
      <button class="btn btn-primary btn-block" (click)="Back()">Back</button>
    </form>


  </div>
</div>