<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="far fa-newspaper"></i>
    Edit Fund Document Name
  </div>
  <div class="card-body">
    <div class="table-responsive" style="overflow-x: hidden;">
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
          <form *ngIf="docNameDetail" [formGroup]="editDocNameForm">
            <div class="form-group">
              <div class="form-label-group">
                <label>Document Name (TH) :</label>
                <input formControlName="nameTHCtrl" #NameTH (blur)="setNameTH(NameTH.value)" type="text"
                  class="form-control" placeholder="Enter Email Address">
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <label>Document Name (EN) :</label>
                <input disabled formControlName="nameENCtrl" type="text" class="form-control">
              </div>
            </div>

            <button class="btn btn-primary btn-block" style="width:100px;" (click)="editDocName()">Edit</button>
            <button class="btn btn-primary btn-block" style="width:100px;" (click)="Back()">Back</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>

<ngx-ui-loader></ngx-ui-loader>
<router-outlet></router-outlet>