.sidebar {
    background-color: #212529;
    height: calc(100vh - 56px);
    width: 310px;
    overflow: auto;
    .nav-item {
        font-size: 17.5px;
        padding-left: 4%;
        text-align: center;
        a {
            color: #a3a3a3;
            text-decoration: none;
            i {
                padding-right: 10px;
            }
            span {
                margin-left: 7%;
                font-size: 14px;
            }
        }
        &:hover {
            background-color: #a3a3a3;
            a {
                transition: all 0.1s;
                font-weight: 600;
                color: #FFFFFF
            }
        }
    }
    .title-menu {
        color: #a3a3a3;
        text-decoration: none;
        margin-left: 7%;
        font-size: 16px;
    }
    .nav-item-header {
        padding: 3%;
        &:first-child {
            margin-top: 5%;
        }
        .dropdown-toggle::after {
            vertical-align: middle;
        }
        a {
            cursor: pointer;
        }
    }
    .nav-item-title {
        font-size: 17.5px;
        padding-left: 9%;
        text-align: center;
        a {
            color: #a3a3a3;
            text-decoration: none;
            i {
                padding-right: 10px;
            }
            span {
                font-size: 16px;
            }
        }
        &:hover {
            background-color: #a3a3a3;
            a {
                transition: all 0.1s;
                font-weight: 600;
                color: #FFFFFF
            }
        }
    }
}

::-webkit-scrollbar {
    width: 2.5px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background: #0099ff;
}