<link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">
<style>
  * {
    font-family: 'Athiti', sans-serif;
  }

  .icon {
    width: 7%;
    margin: 5px;
    margin-right: 18px;
  }

  .icon:hover {
    width: 8%;
    transition: width 2s;
  }
</style>
<ul class="sidebar navbar-nav">

  <li *ngIf="m1" class="nav-item-header">
    <a role="button" data-toggle="collapse" data-target="#component1" aria-expanded="false" aria-controls="component1" class="dropdown-toggle title-menu">
      ข่าวสารและประกาศ
    </a>
    <ul class="collapse list-unstyled" id="component1">
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/banner']">
          <span>จัดการ Banner Link</span>
        </a>
      </li>
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/banner-private']">
          <span>จัดการ Banner กองทุนส่วนบุคคล</span>
        </a>
      </li>
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/banner-provident']">
          <span>จัดการ Banner กองทุนสำรองเลี้ยงชีพ</span>
        </a>
      </li>
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/news']">
          <span>ข่าวสาร</span>
        </a>
      </li>
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/announce']">
          <span>ประกาศ</span>
        </a>
      </li>
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/earthupdate']">
          <span>Earth Update</span>
        </a>
      </li>
    </ul>
  </li>

  <li *ngIf="m2" class="nav-item-header">
    <a role="button" data-toggle="collapse" data-target="#component2" aria-expanded="false" aria-controls="component2" class="dropdown-toggle title-menu">
      โปรโมชั่นและสิทธิประโยชน์
    </a>
    <ul class="collapse list-unstyled" id="component2">
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/promotion']">
          <span>โปรโมชั่น</span>
        </a>
      </li>

      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/benefit']">
          <span>สิทธิประโยชน์</span>
        </a>
      </li>
    </ul>
  </li>

  <li *ngIf="m3" class="nav-item-header">
    <a href="#component3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle title-menu">
      กองทุนแนะนำ
    </a>
    <ul class="collapse list-unstyled" id="component3">
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/market']">
          <span>สรุปภาวะตลาด</span>
        </a>
      </li>
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/newsletter']">
          <span>Newsletter</span>
        </a>
      </li>
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/vdo']">
          <span>VDO</span>
        </a>
      </li>

      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/fundrecommend']">
          <span>กองทุนแนะนำ</span>
        </a>
      </li>
    </ul>
  </li>

  <li *ngIf="m4" class="nav-item-header">
    <a href="#component4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle title-menu">
      การกำกับดูแลกิจการ
    </a>
    <ul class="collapse list-unstyled" id="component4">
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/governence']">
          <span>นโยบายธรรมาภิบาลการลงทุน</span>
        </a>
      </li>
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/ethic']">
          <span>หลักจรรยาบรรณ</span>
        </a>
      </li>
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/corruption']">
          <span>นโยบายต่อต้านคอร์รัปชั่น</span>
        </a>
      </li>
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/product']">
          <span>หลักธรรมาภิบาลเกี่ยวกับผลิตภัณฑ์กองทุนรวม</span>
        </a>
      </li>
    </ul>
  </li>

  <li *ngIf="m5" class="nav-item-header">
    <a href="#component5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle title-menu">
      การกำกับดูแลธุรกิจการลงทุน
    </a>
    <ul class="collapse list-unstyled" id="component5">
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/manager-list']">
          <span>รายชื่อผู้จัดการกองทุน</span>
        </a>
      </li>

      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/transaction']">
          <span>รายงานธุรกรรมกับบุคคลที่เกี่ยวข้อง</span>
        </a>
      </li>

      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/guideline']">
          <span>แนวทางการใช้สิทธิ์ออกเสียงในที่ประชุมผู้ถือหุ้น</span>
          <!-- <span>ผู้ถือหุ้น</span> -->
        </a>
      </li>

      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/vote-report']">
          <span>รายงานสรุปเกี่ยวกับการใช้สิทธิ์ออกเสียง</span>
        </a>
      </li>

      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/holding-investment-unit']">
          <span>รายงานการถือหน่วยลงทุนเกิน 1 ใน 3</span>
        </a>
      </li>
    </ul>
  </li>

  <li *ngIf="m6" class="nav-item-header">
    <a href="#component6" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle title-menu">
      จัดการเอกสาร
    </a>
    <ul class="collapse list-unstyled" id="component6">
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/document-type']">
          <span>หมวดหมู่เอกสาร</span>
        </a>
      </li>
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/document']">
          <span>อัปโหลดเอกสาร</span>
        </a>
      </li>
    </ul>
  </li>

  <li *ngIf="m9" class="nav-item-header">
    <a href="#component8" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle title-menu">
      จัดการกองทุน
    </a>
    <ul class="collapse list-unstyled" id="component8">
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/fund-detail']">
          <span>รายละเอียดกองทุน</span>
        </a>
      </li>
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/fund-detail/document']">
          <span>เอกสารกองทุน</span>
        </a>
      </li>
    </ul>
  </li>

  <li *ngIf="m10" class="nav-item-header">
    <a href="#component9" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle title-menu">
      วางแผนการลงทุน
    </a>
    <ul class="collapse list-unstyled" id="component9">
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/maintain']">
          <span>Maintain</span>
        </a>
      </li>
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/investment-allocation']">
          <span>Investment Allocation</span>
        </a>
      </li>
    </ul>
  </li>

  <li *ngIf="m11" class="nav-item-header">
    <a href="#component7" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle title-menu">
      User Management
    </a>
    <ul class="collapse list-unstyled" id="component7">
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/user-group']">
          <span>User Group</span>
        </a>
      </li>
      <li class="nav-item" style="text-align: left;">
        <a class="nav-link" [routerLink]="['/back-office/user-list']">
          <span>User List</span>
        </a>
      </li>
    </ul>
  </li>

  <li *ngIf="m7" class="nav-item-title" style="text-align: left;">
    <a class="nav-link" [routerLink]="['/back-office/fundRecom_mapp']">
      <span>Recommend Mapping</span>
    </a>
  </li>

  <li *ngIf="m8" class="nav-item-title" style="text-align: left;">
    <a class="nav-link" [routerLink]="['/back-office/fund-risk']">
      <span>Fund Risk</span>
    </a>
  </li>

</ul>
