<div class="card mb-3">
  <div class="card-header">
    <span>
      <i class="far fa-newspaper"></i>
      Add Investment Allocation
    </span>

  </div>

  <div class="card-body">
    <form *ngIf="reseqlvl1" [formGroup]="editInvestAlloForm">
      <div class="card mb-3">
        <div class="card-body">
          <label>Equity Fund</label>
          <div class="form-group row" style="margin-top: 10px;">
            <div class="col-md-6">
              <label>Risk level 1</label>
              <input type="text" #eqlvl1 class="form-control" formControlName="eqlvl1Ctrl"
                (blur)="setEqLvl1(eqlvl1.value)" placeholder="Enter Equity Fund Investment Allocation">
            </div>
            <div class="col-md-6">
              <label>Risk level 2</label>
              <input type="text" #eqlvl2 class="form-control" formControlName="eqlvl2Ctrl"
                (blur)="setEqLvl2(eqlvl2.value)" placeholder="Enter Equity Fund Investment Allocation">
            </div>
            <div class="col-md-6">
              <label>Risk level 3</label>
              <input type="text" #eqlvl3 class="form-control" formControlName="eqlvl3Ctrl"
                (blur)="setEqLvl3(eqlvl3.value)" placeholder="Enter Equity Fund Investment Allocation">
            </div>
            <div class="col-md-6">
              <label>Risk level 4</label>
              <input type="text" #eqlvl4 class="form-control" formControlName="eqlvl4Ctrl"
                (blur)="setEqLvl4(eqlvl4.value)" placeholder="Enter Equity Fund Investment Allocation">
            </div>
            <div class="col-md-6">
              <label>Risk level 5</label>
              <input type="text" #eqlvl5 class="form-control" formControlName="eqlvl5Ctrl"
                (blur)="setEqLvl5(eqlvl5.value)" placeholder="Enter Equity Fund Investment Allocation">
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <label>Money Market Fund</label>
          <div class="form-group row" style="margin-top: 10px;">
            <div class="col-md-6">
              <label>Risk level 1</label>
              <input type="text" #mmlvl1 class="form-control" formControlName="mmlvl1Ctrl"
                (blur)="setMmLvl1(mmlvl1.value)" placeholder="Enter Money Market Fund Investment Allocation">
            </div>
            <div class="col-md-6">
              <label>Risk level 2</label>
              <input type="text" #mmlvl2 class="form-control" formControlName="mmlvl2Ctrl"
                (blur)="setMmLvl2(mmlvl2.value)" placeholder="Enter Money Market Fund Investment Allocation">
            </div>
            <div class="col-md-6">
              <label>Risk level 3</label>
              <input type="text" #mmlvl3 class="form-control" formControlName="mmlvl3Ctrl"
                (blur)="setMmLvl3(mmlvl3.value)" placeholder="Enter Money Market Fund Investment Allocation">
            </div>
            <div class="col-md-6">
              <label>Risk level 4</label>
              <input type="text" #mmlvl4 class="form-control" formControlName="mmlvl4Ctrl"
                (blur)="setMmLvl4(mmlvl4.value)" placeholder="Enter Money Market Fund Investment Allocation">
            </div>
            <div class="col-md-6">
              <label>Risk level 5</label>
              <input type="text" #mmlvl5 class="form-control" formControlName="mmlvl5Ctrl"
                (blur)="setMmLvl5(mmlvl5.value)" placeholder="Enter Money Market Fund Investment Allocation">
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <label>Fixed Income Fund</label>
          <div class="form-group row" style="margin-top: 10px;">
            <div class="col-md-6">
              <label>Risk level 1</label>
              <input type="text" #filvl1 class="form-control" formControlName="filvl1Ctrl"
                (blur)="setFiLvl1(filvl1.value)" placeholder="Enter Money Market Fund Investment Allocation">
            </div>
            <div class="col-md-6">
              <label>Risk level 2</label>
              <input type="text" #filvl2 class="form-control" formControlName="filvl2Ctrl"
                (blur)="setFiLvl2(filvl2.value)" placeholder="Enter Money Market Fund Investment Allocation">
            </div>
            <div class="col-md-6">
              <label>Risk level 3</label>
              <input type="text" #filvl3 class="form-control" formControlName="filvl3Ctrl"
                (blur)="setFiLvl3(filvl3.value)" placeholder="Enter Money Market Fund Investment Allocation">
            </div>
            <div class="col-md-6">
              <label>Risk level 4</label>
              <input type="text" #filvl4 class="form-control" formControlName="filvl4Ctrl"
                (blur)="setFiLvl4(filvl4.value)" placeholder="Enter Money Market Fund Investment Allocation">
            </div>
            <div class="col-md-6">
              <label>Risk level 5</label>
              <input type="text" #filvl5 class="form-control" formControlName="filvl5Ctrl"
                (blur)="setFiLvl5(filvl5.value)" placeholder="Enter Money Market Fund Investment Allocation">
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <label>Commodity Fund</label>
          <div class="form-group row" style="margin-top: 10px;">
            <div class="col-md-6">
              <label>Risk level 1</label>
              <input type="text" #commlvl1 class="form-control" formControlName="commlvl1Ctrl"
                (blur)="setCommLvl1(commlvl1.value)" placeholder="Enter Commodity Fund Investment Allocation">
            </div>
            <div class="col-md-6">
              <label>Risk level 2</label>
              <input type="text" #commlvl2 class="form-control" formControlName="commlvl2Ctrl"
                (blur)="setCommLvl2(commlvl2.value)" placeholder="Enter Commodity Fund Investment Allocation">
            </div>
            <div class="col-md-6">
              <label>Risk level 3</label>
              <input type="text" #commlvl3 class="form-control" formControlName="commlvl3Ctrl"
                (blur)="setCommLvl3(commlvl3.value)" placeholder="Enter Commodity Fund Investment Allocation">
            </div>
            <div class="col-md-6">
              <label>Risk level 4</label>
              <input type="text" #commlvl4 class="form-control" formControlName="commlvl4Ctrl"
                (blur)="setCommLvl4(commlvl4.value)" placeholder="Enter Commodity Fund Investment Allocation">
            </div>
            <div class="col-md-6">
              <label>Risk level 5</label>
              <input type="text" #commlvl5 class="form-control" formControlName="commlvl5Ctrl"
                (blur)="setCommLvl5(commlvl5.value)" placeholder="Enter Commodity Fund Investment Allocation">
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <label>Property Fund</label>
          <div class="form-group row" style="margin-top: 10px;">
            <div class="col-md-6">
              <label>Risk level 1</label>
              <input type="text" #proplvl1 class="form-control" formControlName="proplvl1Ctrl"
                (blur)="setPropLvl1(proplvl1.value)" placeholder="Enter Property Fund Investment Allocation">
            </div>
            <div class="col-md-6">
              <label>Risk level 2</label>
              <input type="text" #proplvl2 class="form-control" formControlName="proplvl2Ctrl"
                (blur)="setPropLvl2(proplvl2.value)" placeholder="Enter Property Fund Investment Allocation">
            </div>
            <div class="col-md-6">
              <label>Risk level 3</label>
              <input type="text" #proplvl3 class="form-control" formControlName="proplvl3Ctrl"
                (blur)="setPropLvl3(proplvl3.value)" placeholder="Enter Property Fund Investment Allocation">
            </div>
            <div class="col-md-6">
              <label>Risk level 4</label>
              <input type="text" #proplvl4 class="form-control" formControlName="proplvl4Ctrl"
                (blur)="setPropLvl4(proplvl4.value)" placeholder="Enter Property Fund Investment Allocation">
            </div>
            <div class="col-md-6">
              <label>Risk level 5</label>
              <input type="text" #proplvl5 class="form-control" formControlName="proplvl5Ctrl"
                (blur)="setPropLvl5(proplvl5.value)" placeholder="Enter Property Fund Investment Allocation">
            </div>
          </div>
        </div>
      </div>
    </form>


    <button class="btn btn-primary btn-block" (click)="editInvestAllo()">Save</button>
    <button class="btn btn-primary btn-block" (click)="Back()">Back</button>

  </div>
</div>