<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <span>
      <i class="far fa-newspaper"></i>
      Edit Fund Risk
    </span>

  </div>
  <div [ngSwitch]="choiceFromSelect">



    <div class="card-body" *ngSwitchCase="'display-form'">
      <div class="table-responsive" style="overflow-x: hidden;">
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-12">
            <form *ngIf="fundRisk" [formGroup]="editRiskForm">


              <div class="form-group">
                <div class="form-label-group">
                  <label for="">Risk Level : {{riskLevelName}}</label>
                </div>
              </div>


              <div class="form-group">
                <div class="form-label-group">
                  <label for="">Title :</label>
                  <input formControlName="riskTitleControl" #riskTitle (blur)="setRiskTitle(riskTitle.value)"
                    type="text" name="title" class="form-control" placeholder="Enter Title">
                </div>
              </div>

              <!-- <div class="card mb-3">
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-label-group">
                      <label for="">Chart Image :</label>
                      <br>
                      <img src="{{Image}}" width="40%" />
                      <br />
                      <br />
                      <input (change)="setRiskFiles($event)" type="file" name="riskTitleImage" id="riskTitleImage"
                        accept="image/*">
                    </div>
                  </div>
                </div>
              </div> -->


              <div class="card mb-3">
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-label-group">
                      <label for="">อัตราผลตอบแทนที่คาดหวังต่อปี</label>
                      <input formControlName="detail1_1Control" #riskDetail1 (blur)="setRisk_Detail1(riskDetail1.value)"
                        type="text" name="title" class="form-control" placeholder="">
                      <input formControlName="detail1_1PControl" #riskDetail1P
                        (blur)="setRisk_Detail1P(riskDetail1P.value)" type="text" name="title" class="form-control"
                        placeholder="">
                      <br />
                      <input formControlName="detail1_2Control" #riskDetail2 (blur)="setRisk_Detail2(riskDetail2.value)"
                        type="text" name="title" class="form-control" placeholder="">
                      <input formControlName="detail1_2PControl" #riskDetail1_2p
                        (blur)="setRisk_Detail1_2P(riskDetail1_2p.value)" type="text" name="title" class="form-control"
                        placeholder="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-label-group">
                      <label for="">โอกาสที่จะชนะเงินเฟ้อใน 1 ปี</label>
                      <input formControlName="detail2pControl" #riskDetail2p
                        (blur)="setRisk_Detail2p(riskDetail2p.value)" type="text" name="title" class="form-control"
                        placeholder="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-label-group">
                      <label for="">ความเสี่ยงของพอร์ตการลงทุนนี้</label>
                      <input formControlName="detail3_1Control" #riskDetail3 (blur)="setRisk_Detail3(riskDetail3.value)"
                        type="text" name="title" class="form-control" placeholder="">
                      <input formControlName="detail3_1PControl" #riskDetail3P
                        (blur)="setRisk_Detail3P(riskDetail3P.value)" type="text" name="title" class="form-control"
                        placeholder="">
                      <br />
                      <input formControlName="detail3_2Control" #riskDetail3_2
                        (blur)="setRisk_Detail3_2(riskDetail3_2.value)" type="text" name="title" class="form-control"
                        placeholder="">
                      <input formControlName="detail3_2PControl" #riskDetail3_2P
                        (blur)="setRisk_Detail3_2P(riskDetail3_2P.value)" type="text" name="title" class="form-control"
                        placeholder="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-label-group">

                      <table>
                        <tr>
                          <td style="width: 400px; text-align:left; vertical-align:top; ">
                            <div [ngSwitch]="riskLevelName">
                              <div>
                                <table>
                                  <tr>
                                    <td>
                                      <label for="">กองทุนตลาดเงิน</label>
                                    </td>
                                    <td>
                                      <input formControlName="p1Control" #riskP1 (blur)="setRisk_p1(riskP1.value)"
                                        type="text" name="riskP1" class="form-control" placeholder="">
                                    </td>
                                    <td>
                                      <button class="btn btn-primary btn-block u" (click)="addP1()">+</button>
                                    </td>
                                  </tr>
                                </table>
                                <br />
                                <table class="table table-bordered" style="width:420px;">
                                  <thead>
                                    <tr>
                                      <th style="width: 400px;">Fund Name</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of fundMapp1">
                                      <td style="text-align: left; vertical-align:middle;"
                                        *ngIf="item.FundNameEn != ''">
                                        {{item.FundCode}}
                                      </td>
                                      <td *ngIf="item.FundNameEn != ''">
                                        <button class="btn btn-primary btn-block u" (click)="deleteP1(item.id)">-</button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>

                            </div>
                          </td>
                          <td style="width:400px; text-align:left; vertical-align:top;">
                            <div [ngSwitch]="riskLevelName">
                              <div>
                                <table>
                                  <tr>
                                    <td>
                                      <label for="">กองทุนตราสารหนี้</label>
                                    </td>
                                    <td>
                                      <input formControlName="p2Control" #riskp2 (blur)="setRisk_p2(riskp2.value)"
                                        type="text" name="riskp2" class="form-control" placeholder="">
                                    </td>
                                    <td>
                                      <button class="btn btn-primary btn-block u" (click)="addp2()">+</button>
                                    </td>
                                  </tr>
                                </table>
                                <br />
                                <table class="table table-bordered" style="width:420px;">
                                  <thead>
                                    <tr>
                                      <th style="width: 400px;">Fund Name</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of fundMapp2">
                                      <td style="text-align: left; vertical-align:middle;"
                                        *ngIf="item.FundNameEn != ''">
                                        {{item.FundCode}}
                                      </td>
                                      <td *ngIf="item.FundNameEn != ''">
                                        <button class="btn btn-primary btn-block u" (click)="deleteP2(item.id)">-</button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </table>

                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-label-group">
                      <table>
                        <tr>
                          <td style="width: 400px; text-align:left; vertical-align:top; ">
                            <div [ngSwitch]="riskLevelName">
                              <div>
                                <table>
                                  <tr>
                                    <td>
                                      <label for="">กองทุนผสม</label>
                                    </td>
                                    <td>
                                      <input formControlName="p3Control" #riskp3 (blur)="setRisk_p3(riskp3.value)"
                                        type="text" name="riskp3" class="form-control" placeholder="">
                                    </td>
                                    <td>
                                      <button class="btn btn-primary btn-block u" (click)="addp3()">+</button>
                                    </td>
                                  </tr>
                                </table>
                                <br />
                                <table class="table table-bordered" style="width:420px;">
                                  <thead>
                                    <tr>
                                      <th style="width: 400px;">Fund Name</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of fundMapp3">
                                      <td style="text-align: left; vertical-align:middle;"
                                        *ngIf="item.FundNameEn != ''">
                                        {{item.FundCode}}
                                      </td>
                                      <td *ngIf="item.FundNameEn != ''">
                                        <button class="btn btn-primary btn-block u" (click)="deleteP3(item.id)">-</button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>

                            </div>
                          </td>
                          <td style="width:400px; text-align:left; vertical-align:top;">
                            <div [ngSwitch]="riskLevelName">
                              <div>
                                <table>
                                  <tr>
                                    <td>
                                      <label for="">กองทุนตราสารทุน</label>
                                    </td>
                                    <td>
                                      <input formControlName="p4Control" #riskp4 (blur)="setRisk_p4(riskp4.value)"
                                        type="text" name="riskp4" class="form-control" placeholder="">
                                    </td>
                                    <td>
                                      <button class="btn btn-primary btn-block u" (click)="addp4()">+</button>
                                    </td>
                                  </tr>
                                </table>
                                <br />
                                <table class="table table-bordered" style="width:420px;">
                                  <thead>
                                    <tr>
                                      <th style="width: 400px;">Fund Name</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of fundMapp4">
                                      <td style="text-align: left; vertical-align:middle;"
                                        *ngIf="item.FundNameEn != ''">
                                        {{item.FundCode}}
                                      </td>
                                      <td *ngIf="item.FundNameEn != ''">
                                        <button class="btn btn-primary btn-block u" (click)="deleteP4(item.id)">-</button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3">
                <div class="card-body">
                  <div class="form-group">
                    <div class="form-label-group">
                      <table>
                        <tr>
                          <td style="width: 400px; text-align:left; vertical-align:top; ">
                            <div [ngSwitch]="riskLevelName">
                              <div>
                                <table>
                                  <tr>
                                    <td>
                                      <label for="">กองทุนทางเลือก</label>
                                    </td>
                                    <td>
                                      <input formControlName="p5Control" #riskp5 (blur)="setRisk_p5(riskp5.value)"
                                        type="text" name="riskp5" class="form-control" placeholder="">
                                    </td>
                                    <td>
                                      <button class="btn btn-primary btn-block u" (click)="addp5()">+</button>
                                    </td>
                                  </tr>
                                </table>
                                <br />
                                <table class="table table-bordered" style="width:420px;">
                                  <thead>
                                    <tr>
                                      <th style="width: 400px;">Fund Name</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of fundMapp5">
                                      <td style="text-align: left; vertical-align:middle;"
                                        *ngIf="item.FundNameEn != ''">
                                        {{item.FundCode}}
                                      </td>
                                      <td *ngIf="item.FundNameEn != ''">
                                        <button class="btn btn-primary btn-block u" (click)="deleteP5(item.id)">-</button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </td>



                          <!-- <td style="width:400px; text-align:left; vertical-align:top;">
                            <ng-container [ngSwitch]="true">
                              <ng-container *ngSwitchCase="riskLevelName ===  'Medium' || riskLevelName ===  'Height'">
                                <table>
                                  <tr>
                                    <td>
                                      <label for="">กองทุนตราสารทุนต่างประเทศ</label>
                                    </td>
                                    <td>
                                      <input formControlName="p6Control" #riskp6 (blur)="setRisk_p6(riskp6.value)"
                                        type="text" name="riskp6" class="form-control" placeholder="">
                                    </td>
                                    <td>
                                      <button class="btn btn-primary btn-block u" (click)="addp6()">+</button>
                                    </td>
                                  </tr>
                                </table>
                                <br />
                                <table class="table table-bordered" style="width:400px;">
                                  <thead>
                                    <tr>
                                      <th style="width: 400px;">Fund Name</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of fundMapp6">
                                      <td style="text-align: left; vertical-align:middle;"
                                        *ngIf="item.FundNameEn != ''">
                                        {{item.FundCode}}
                                      </td>
                                      <td *ngIf="item.FundNameEn != ''">
                                        <button class="btn btn-primary btn-block u" (click)="deleteP6(item.id)">-</button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </ng-container>
                            </ng-container>
                          </td> -->
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <button class="btn btn-primary btn-block" (click)="save_info()">Save</button>
              <button class="btn btn-primary btn-block" (click)="Back()">Back</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body" *ngSwitchCase="'display-p1'">
      <div class="table-responsive" style="overflow-x: hidden;">
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-12">

            <form>
              <div class="form-group" class="col-sm-12">
                <table>
                  <tr>
                    <td>
                      <div class="form-label-group">
                        <input #FundName (blur)="setFundName1(FundName.value)" style="width: 600px" type="text"
                          name="fundName" class="form-control" placeholder="Enter Fund Name">
                      </div>
                    </td>
                    <td><button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickSearchp1()">Search</button></td>
                    <td> <button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickbackP1()">Back</button></td>
                  </tr>
                </table>

              </div>
              <br />
              <div class="col-sm-12">
                <table>
                  <tr>
                    <td style="text-align: center; vertical-align:top;">
                      <table class="table table-bordered" style="width:350px;">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Fund Name</th>
                          </tr>
                        </thead>

                        <tbody>

                          <tr *ngFor="let item of fundNotMapp1">
                            <td *ngIf="item.FundNameEn != ''">
                              <input #saveUserNameCheckBox id="saveUserNameCheckBox" type="checkbox"
                                (change)="onSaveUsernameChanged1(saveUserNameCheckBox.checked,item.FundId)" />
                            </td>
                            <td style="text-align: left; vertical-align:middle;" *ngIf="item.FundNameEn != ''">
                              {{item.FundCode}}
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </td>

                    <td style="text-align: center; vertical-align:top;">
                      <br />
                      <br />
                      <br />
                      <br />
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="selectP1()">>></button>
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="delP1()">
                        <<</button> </td> <td style="text-align: center; vertical-align:top;">
                          <table class="table table-bordered" style="width:350px;">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Fund Name (Recommend)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of fundMapp1">
                                <td *ngIf="item.FundNameEn != ''">
                                  <input #saveUserNameCheckBox id="saveUserNameCheckBox" type="checkbox"
                                    (change)="onDeleteUsernameChanged1(saveUserNameCheckBox.checked,item.id)" />
                                </td>
                                <td *ngIf="item.FundNameEn != ''" style="text-align: left; vertical-align:middle;">
                                  {{item.FundCode}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </td>
                  </tr>
                </table>
              </div>
              <br />
              <br />
              <br />

            </form>


          </div>
        </div>
      </div>
    </div>

    <div class="card-body" *ngSwitchCase="'display-p2'">
      <div class="table-responsive" style="overflow-x: hidden;">
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-12">

            <form>
              <div class="form-group" class="col-sm-12">
                <table>
                  <tr>
                    <td>
                      <div class="form-label-group">
                        <input #FundName (blur)="setFundName2(FundName.value)" style="width: 600px" type="text"
                          name="fundName" class="form-control" placeholder="Enter Fund Name">
                      </div>
                    </td>
                    <td><button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickSearchp2()">Search</button></td>
                    <td> <button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickbackp2()">Back</button></td>
                  </tr>
                </table>

              </div>
              <br />
              <div class="col-sm-12">
                <table>
                  <tr>
                    <td style="text-align: center; vertical-align:top;">
                      <table class="table table-bordered" style="width:350px;">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Fund Name</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr *ngFor="let item of fundNotMapp2">
                            <td *ngIf="item.FundNameEn != ''">
                              <input #saveUserNameCheckBox id="saveUserNameCheckBox" type="checkbox"
                                (change)="onSaveUsernameChanged2(saveUserNameCheckBox.checked,item.FundId)" />
                            </td>
                            <td style="text-align: left; vertical-align:middle;" *ngIf="item.FundNameEn != ''">
                              {{item.FundCode}}
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </td>
                    <td style="text-align: center; vertical-align:top;">
                      <br />
                      <br />
                      <br />
                      <br />
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="selectp2()">>></button>
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="delp2()">
                        <<</button> </td> <td style="text-align: center; vertical-align:top;">
                          <table class="table table-bordered" style="width:350px;">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Fund Name (Recommend)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of fundMapp2">
                                <td *ngIf="item.FundNameEn != ''">
                                  <input #saveUserNameCheckBox id="saveUserNameCheckBox" type="checkbox"
                                    (change)="onDeleteUsernameChanged2(saveUserNameCheckBox.checked,item.id)" />
                                </td>
                                <td *ngIf="item.FundNameEn != ''" style="text-align: left; vertical-align:middle;">
                                  {{item.FundCode}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </td>
                  </tr>
                </table>
              </div>
              <br />
              <br />
              <br />

            </form>


          </div>
        </div>
      </div>
    </div>

    <div class="card-body" *ngSwitchCase="'display-p3'">
      <div class="table-responsive" style="overflow-x: hidden;">
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-12">

            <form>
              <div class="form-group" class="col-sm-12">
                <table>
                  <tr>
                    <td>
                      <div class="form-label-group">
                        <input #FundName (blur)="setFundName3(FundName.value)" style="width: 600px" type="text"
                          name="fundName" class="form-control" placeholder="Enter Fund Name">
                      </div>
                    </td>
                    <td><button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickSearchp3()">Search</button></td>
                    <td> <button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickbackp3()">Back</button></td>
                  </tr>
                </table>

              </div>
              <br />
              <div class="col-sm-12">
                <table>
                  <tr>
                    <td style="text-align: center; vertical-align:top;">
                      <table class="table table-bordered" style="width:350px;">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Fund Name</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr *ngFor="let item of fundNotMapp3">
                            <td *ngIf="item.FundNameEn != ''">
                              <input #saveUserNameCheckBox id="saveUserNameCheckBox" type="checkbox"
                                (change)="onSaveUsernameChanged3(saveUserNameCheckBox.checked,item.FundId)" />
                            </td>
                            <td style="text-align: left; vertical-align:middle;" *ngIf="item.FundNameEn != ''">
                              {{item.FundCode}}
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </td>
                    <td style="text-align: center; vertical-align:top;">
                      <br />
                      <br />
                      <br />
                      <br />
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="selectp3()">>></button>
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="delp3()">
                        << </button> </td> <td style="text-align: center; vertical-align:top;">
                          <table class="table table-bordered" style="width:350px;">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Fund Name (Recommend)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of fundMapp3">
                                <td *ngIf="item.FundNameEn != ''">
                                  <input #saveUserNameCheckBox id="saveUserNameCheckBox" type="checkbox"
                                    (change)="onDeleteUsernameChanged3(saveUserNameCheckBox.checked,item.id)" />
                                </td>
                                <td *ngIf="item.FundNameEn != ''" style="text-align: left; vertical-align:middle;">
                                  {{item.FundCode}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </td>
                  </tr>
                </table>
              </div>
              <br />
              <br />
              <br />

            </form>


          </div>
        </div>
      </div>
    </div>

    <div class="card-body" *ngSwitchCase="'display-p4'">
      <div class="table-responsive" style="overflow-x: hidden;">
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-12">

            <form>
              <div class="form-group" class="col-sm-12">
                <table>
                  <tr>
                    <td>
                      <div class="form-label-group">
                        <input #FundName (blur)="setFundName4(FundName.value)" style="width: 600px" type="text"
                          name="fundName" class="form-control" placeholder="Enter Fund Name">
                      </div>
                    </td>
                    <td><button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickSearchp4()">Search</button></td>
                    <td> <button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickbackp4()">Back</button></td>
                  </tr>
                </table>

              </div>
              <br />
              <div class="col-sm-12">
                <table>
                  <tr>
                    <td style="text-align: center; vertical-align:top;">
                      <table class="table table-bordered" style="width:350px;">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Fund Name</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr *ngFor="let item of fundNotMapp4">
                            <td *ngIf="item.FundNameEn != ''">
                              <input #saveUserNameCheckBox id="saveUserNameCheckBox" type="checkbox"
                                (change)="onSaveUsernameChanged4(saveUserNameCheckBox.checked,item.FundId)" />
                            </td>
                            <td style="text-align: left; vertical-align:middle;" *ngIf="item.FundNameEn != ''">
                              {{item.FundCode}}
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </td>
                    <td style="text-align: center; vertical-align:top;">
                      <br />
                      <br />
                      <br />
                      <br />
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="selectp4()">>></button>
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="delp4()">
                        <<</button> </td> <td style="text-align: center; vertical-align:top;">
                          <table class="table table-bordered" style="width:350px;">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Fund Name (Recommend)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of fundMapp4">
                                <td *ngIf="item.FundNameEn != ''">
                                  <input #saveUserNameCheckBox id="saveUserNameCheckBox" type="checkbox"
                                    (change)="onDeleteUsernameChanged4(saveUserNameCheckBox.checked,item.id)" />
                                </td>
                                <td *ngIf="item.FundNameEn != ''" style="text-align: left; vertical-align:middle;">
                                  {{item.FundCode}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </td>
                  </tr>
                </table>
              </div>
              <br />
              <br />
              <br />

            </form>


          </div>
        </div>
      </div>
    </div>

    <div class="card-body" *ngSwitchCase="'display-p5'">
      <div class="table-responsive" style="overflow-x: hidden;">
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-12">

            <form>
              <div class="form-group" class="col-sm-12">
                <table>
                  <tr>
                    <td>
                      <div class="form-label-group">
                        <input #FundName (blur)="setFundName5(FundName.value)" style="width: 600px" type="text"
                          name="fundName" class="form-control" placeholder="Enter Fund Name">
                      </div>
                    </td>
                    <td><button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickSearchp5()">Search</button></td>
                    <td> <button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickbackp5()">Back</button></td>
                  </tr>
                </table>

              </div>
              <br />
              <div class="col-sm-12">
                <table>
                  <tr>
                    <td style="text-align: center; vertical-align:top;">
                      <table class="table table-bordered" style="width:350px;">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Fund Name</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr *ngFor="let item of fundNotMapp5">
                            <td *ngIf="item.FundNameEn != ''">
                              <input #saveUserNameCheckBox id="saveUserNameCheckBox" type="checkbox"
                                (change)="onSaveUsernameChanged5(saveUserNameCheckBox.checked,item.FundId)" />
                            </td>
                            <td style="text-align: left; vertical-align:middle;" *ngIf="item.FundNameEn != ''">
                              {{item.FundCode}}
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </td>
                    <td style="text-align: center; vertical-align:top;">
                      <br />
                      <br />
                      <br />
                      <br />
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="selectp5()">>></button>
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="delp5()">
                        <<</button> </td> <td style="text-align: center; vertical-align:top;">
                          <table class="table table-bordered" style="width:350px;">
                            <thead>
                              <tr>
                                <th></th>
                                <th>Fund Name (Recommend)</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of fundMapp5">
                                <td *ngIf="item.FundNameEn != ''">
                                  <input #saveUserNameCheckBox id="saveUserNameCheckBox" type="checkbox"
                                    (change)="onDeleteUsernameChanged5(saveUserNameCheckBox.checked,item.id)" />
                                </td>
                                <td *ngIf="item.FundNameEn != ''" style="text-align: left; vertical-align:middle;">
                                  {{item.FundCode}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </td>
                  </tr>
                </table>
              </div>
              <br />
              <br />
              <br />

            </form>


          </div>
        </div>
      </div>
    </div>

    <div class="card-body" *ngSwitchCase="'display-p6'">
      <div class="table-responsive" style="overflow-x: hidden;">
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-12">

            <form>
              <div class="form-group" class="col-sm-12">
                <table>
                  <tr>
                    <td>
                      <div class="form-label-group">
                        <input #FundName (blur)="setFundName6(FundName.value)" style="width: 600px" type="text"
                          name="fundName" class="form-control" placeholder="Enter Fund Name">
                      </div>
                    </td>
                    <td><button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickSearchp6()">Search</button></td>
                    <td> <button class="btn btn-primary btn-block" style="width:100px;"
                        (click)="clickbackp6()">Back</button></td>
                  </tr>
                </table>

              </div>
              <br />
              <div class="col-sm-12">
                <table>
                  <tr>
                    <td style="text-align: center; vertical-align:top;">
                      <table class="table table-bordered" style="width:450px;">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Fund Name</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr *ngFor="let item of fundNotMapp6">
                            <td *ngIf="item.FundNameEn != ''">
                              <input #saveUserNameCheckBox id="saveUserNameCheckBox" type="checkbox"
                                (change)="onSaveUsernameChanged6(saveUserNameCheckBox.checked,item.FundId)" />
                            </td>
                            <td style="text-align: left; vertical-align:middle;" *ngIf="item.FundNameEn != ''">
                              {{item.FundCode}}
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </td>
                    <td style="text-align: center; vertical-align:top;">
                      <br />
                      <br />
                      <br />
                      <br />
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="selectp6()">>></button>
                      <button class="btn btn-primary btn-block" style="width:100px;" (click)="delp6()">
                        <<</button> </td> <td style="text-align: center; vertical-align:top;">
                    </td>
                    <td style="text-align: center; vertical-align:top;">
                      <table class="table table-bordered" style="width:400px;">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Fund Name (Recommend)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of fundMapp6">
                            <td *ngIf="item.FundNameEn != ''">
                              <input #saveUserNameCheckBox id="saveUserNameCheckBox" type="checkbox"
                                (change)="onDeleteUsernameChanged6(saveUserNameCheckBox.checked,item.id)" />
                            </td>
                            <td *ngIf="item.FundNameEn != ''" style="text-align: left; vertical-align:middle;">
                              {{item.FundCode}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
              <br />
              <br />
              <br />

            </form>


          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>

<ngx-ui-loader></ngx-ui-loader>