<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <i class="far fa-newspaper"></i>
    Fund Risk
  </div>
  <div class="card-body">
    <div class="table-responsive" style="overflow-x: hidden;">


      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr class="text-center">
                <th width="15%">Risk Level</th>
                <th width="55%">Risk Title</th>
                <th width="20%">Create Date</th>
                <th width="10%">Edit</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of pagedItems">
                <td *ngIf="item.riskLevelName != ''">{{item.riskLevelName}}</td>
                <td *ngIf="item.riskLevelName != ''">{{item.title}}</td>
                <td *ngIf="item.riskLevelName != ''">{{date_convert(item.update_date, true)}}</td>
                <td *ngIf="item.riskLevelName != ''">
                  <button class="btn btn-info btn-block" (click)="clickEdit(item.riskid)">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>

          <nav aria-label="Page navigation example">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
              <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                <a class="page-link" (click)="setPage(1)">First</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
                <a class="page-link" (click)="setPage(page)">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
              </li>
            </ul>
          </nav>


        </div>
      </div>
    </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>
<ngx-ui-loader></ngx-ui-loader>
<router-outlet></router-outlet>
