input[type="checkbox"] {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 5px;
}

.card-header {
    font-size: 14px;
    span {
        vertical-align: -webkit-baseline-middle;
    }
    .btn {
        font-size: 12px;
        height: 30px;
        padding: 1px 6px;
    }
}

.card-body {
    font-size: 12px;
    .form-control {
        font-size: 12px;
        box-shadow: none;
    }
    .btn {
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
}

.card-footer {
    font-size: 12px;
}