<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <span>
      <i class="far fa-newspaper"></i>
      Edit Fund Detail
    </span>

  </div>
  <div class="card-body">
    <div class="table-responsive" style="overflow-x: hidden;">
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
          <form *ngIf="fund" [formGroup]="editFundDetailForm">
            <div class="form-group">
              <div class="form-label-group">
                <label for="">Fund Code :</label>
                <input disabled class="form-control" formControlName="fundCodeControl">
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <label for="">Publish Status :</label>
                <select formControlName="publishStatusControl" class="form-control"
                  (change)="setPublishStatus($event.target.value)">
                  <option *ngFor="let item of data" [value]="item.val">{{item.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <label for="">Fund Award :</label>
                <input formControlName="fundAwardControl" #fundAward (blur)="setFundAward(fundAward.value)" type="text"
                  class="form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <label for="">Investment Style :</label>
                <textarea formControlName="investmentStyleControl" #investmentStyle
                  (blur)="setInvestmentStyle(investmentStyle.value)" class="form-control"
                  style="resize: none; height: 100px;"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <label for="">Investor Type :</label>
                <textarea formControlName="investorTypeControl" #investorType
                  (blur)="setinvestorType(investorType.value)" class="form-control"
                  style="resize: none; height: 100px;"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <label for="">Investment Policy :</label>
                <div id="textEditor" [ngxSummernote]="config"
                formControlName="investmentPolicyControl"></div>

                <!-- <textarea formControlName="investmentPolicyControl" #investmentPolicy
                  (blur)="setinvestmentPolicy(investmentPolicy.value)" readonly class="form-control"
                  style="resize: none; height: 110px;"></textarea> -->
              </div>
            </div>
            <!-- <div class="form-group">
              <div class="form-label-group">
                <label for="">Account Period :</label>
                <input formControlName="accountPeriodControl" #accountPeriod
                  (blur)="setaccountPeriod(accountPeriod.value)" class="form-control">
              </div>
            </div> -->
            <!-- <div class="card mb-3">
              <div class="card-body">
                <table>
                  <tr>
                    <td>
                      <input (change)="setNewsFiles($event)" type="file" name="newsFile" id="newsFile" accept="/*">
                    </td>
                    <td>
                      <button class="btn btn-warning btn-block" (click)="UploadFile()">Upload File</button>
                    </td>
                  </tr>

                </table>
              </div>
            </div> -->

            <div class="card mb-3">
              <div class="card-body">
                <div class="form-group">
                  <div class="form-label-group">
                    <label for="">Fund Document :</label>
                    <br>
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th width="80%">Document Name</th>
                          <th width="20%" class="text-center">Active Document</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let item of fundDocItem">
                          <td>{{item.FileName}}</td>
                          <td class="text-center">
                            <input id="{{item.id}}" type="checkbox" checked="{{item.Isactive}}" value="{{item.id}}"
                              (click)="updateDoc($event)">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="card mb-3">
              <div class="card-body">
                <div class="form-group" style="margin-bottom: 0!important;">
                  <div class="form-label-group">
                    <input type="checkbox" (click)="morningStarCheck($event)" formControlName="haveMorningStar">
                    <span>Morning Star Award</span>
                    <div *ngIf="showMorningStarMenu">
                      <br>
                      <label for="">Award Level :</label>
                      <select formControlName="awardLevelControl" class="form-control"
                        (change)="setMorningStarLevel($event.target.value)">
                        <option *ngFor="let item of morningStarLevel" [value]="item.code">{{item.level}}</option>
                      </select>
                      <br>
                      <label for="">Award Recieve Date :</label>
                      <my-date-picker [options]="myDatePickerOptions" [selDate]="selDate"
                        (dateChanged)="onDateChanged($event)"></my-date-picker>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-primary btn-block" style="width: 100px" (click)="editDetail()">Edit</button>
            <button class="btn btn-primary btn-block" style="width: 100px" (click)="Back()">Back</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>

<ngx-ui-loader></ngx-ui-loader>
