<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
      <i class="far fa-newspaper"></i>
      Banner List (Link)
    </div>
    <div class="card-body">
      <div class="table-responsive" style="overflow-x: hidden;">

        <div class="row">
          <div class="col-sm-12 col-md-4">
            <input type="text" name="topicSearch" class="form-control" placeholder="Search News"
              (blur)="setSearch(topicSearch.value)" #topicSearch (keydown)="keyDownFunction($event,topicSearch.value)">
          </div>

          <div class="col-sm-12 col-md-2">
            <div id="dataTable_filter" class="dataTables_filter">
              <button (click)="getBannerFromSerch()" type="submit" class="btn btn-info btn-block">Search</button>
            </div>
          </div>
          <div class="col-sm-12 col-md-2 ">
            <div id="dataTable_filter" class="dataTables_filter">
              <button class="btn btn-info btn-block float-right" (click)="clickAdd()">Add Banner</button>
            </div>
          </div>

          <!-- </form> -->

        </div>

        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-12">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr class="text-center">
                  <th width="60%">Banner Name</th>
                  <!-- <th width="20%">Modify Date</th> -->
                  <th width="20%">Modify By</th>
                  <th width="10%">Delete</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of pagedItems">
                  <td *ngIf="item.banner_name != ''">{{item.banner_name}}</td>
                  <!-- <td *ngIf="item.banner_name != ''">{{date_convert(item.update_date)}}</td> -->
                  <td *ngIf="item.banner_name != ''">{{item.modify}}</td>
                  <td *ngIf="item.banner_name != ''">
                    <button class="btn btn-info btn-block" (click)="clickEdit(item.bannerid)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>

            <nav aria-label="Page navigation example">
              <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                  <a class="page-link" (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                  <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
                  <a class="page-link" (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                  <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                  <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
                </li>
              </ul>
            </nav>


          </div>
        </div>





      </div>
    </div>
    <div class="card-footer small text-muted">
      Updated yesterday at 11:59 PM
    </div>
  </div>
  <ngx-ui-loader></ngx-ui-loader>
  <router-outlet></router-outlet>
