<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <span>
      <i class="far fa-newspaper"></i>
      Edit User
    </span>
  </div>

  <div class="card-body">
    <div class="table-responsive" style="overflow-x: hidden;">
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
          <form *ngIf="user" [formGroup]="editUserForm">
            <div class="form-group">
              <div class="form-label-group">
                <label>User Group :</label>
                <select formControlName="groupCtrl" class="form-control" (change)="setGroupId($event.target.value)">
                  <option *ngFor="let t of data" [value]="t.groupId">{{t.groupName}}</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <div class="form-label-group col-md-6">
                <label>First Name :</label>
                <input formControlName="fnameCtrl" #Fname (blur)="setFname(Fname.value)" type="text"
                  class="form-control" placeholder="Enter First Name">
              </div>
              <div class="form-label-group col-md-6">
                <label>Last Name :</label>
                <input formControlName="lnameCtrl" #Lname (blur)="setLname(Lname.value)" type="text"
                  class="form-control" placeholder="Enter Last name">
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <label>User Status :</label>
                <select formControlName="statusCtrl" class="form-control" (change)="setUserStatus($event.target.value)">
                  <option *ngFor="let t of userStatus" [value]="t.val">{{t.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <label>Email :</label>
                <input formControlName="emailCtrl" #Email (blur)="setEmail(Email.value)" type="text"
                  class="form-control" placeholder="Enter Email Address">
              </div>
            </div>
            <button class="btn btn-warning btn-block" style="width:110px; margin-bottom: 10px;"
              (click)="resetPass()">Reset Password</button>
            <div *ngIf="resetPwd" class="form-group">
              <div class="form-label-group">
                <label>New Password :</label>
                <input #Password (blur)="setPassword(Password.value)" type="password" class="form-control"
                  placeholder="Enter password">
              </div>
            </div>

            <button class="btn btn-primary btn-block" style="width:100px;" (click)="editUser()">Edit</button>
            <button class="btn btn-primary btn-block" style="width:100px;" (click)="Back()">Back</button>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>

<ngx-ui-loader></ngx-ui-loader>