<div class="card mb-3">
  <div class="card-header">
    <i class="far fa-newspaper"></i>
    Add Investment Allocation
  </div>

  <div class="card-body">

    <div class="card mb-3">
      <div class="card-body">
        <label>Equity Fund</label>
        <div class="form-group row" style="margin-top: 10px;">
          <div class="col-md-6">
            <label>Risk level 1</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Equity Fund Investment Allocation" [(ngModel)]="eqlvl1">
          </div>
          <div class="col-md-6">
            <label>Risk level 2</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Equity Fund Investment Allocation" [(ngModel)]="eqlvl2">
          </div>
          <div class="col-md-6">
            <label>Risk level 3</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Equity Fund Investment Allocation" [(ngModel)]="eqlvl3">
          </div>
          <div class="col-md-6">
            <label>Risk level 4</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Equity Fund Investment Allocation" [(ngModel)]="eqlvl4">
          </div>
          <div class="col-md-6">
            <label>Risk level 5</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Equity Fund Investment Allocation" [(ngModel)]="eqlvl5">
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <label>Money Market Fund</label>
        <div class="form-group row" style="margin-top: 10px;">
          <div class="col-md-6">
            <label>Risk level 1</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Money Market Fund Investment Allocation" [(ngModel)]="mmlvl1">
          </div>
          <div class="col-md-6">
            <label>Risk level 2</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Money Market Fund Investment Allocation" [(ngModel)]="mmlvl2">
          </div>
          <div class="col-md-6">
            <label>Risk level 3</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Money Market Fund Investment Allocation" [(ngModel)]="mmlvl3">
          </div>
          <div class="col-md-6">
            <label>Risk level 4</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Money Market Fund Investment Allocation" [(ngModel)]="mmlvl4">
          </div>
          <div class="col-md-6">
            <label>Risk level 5</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Money Market Fund Investment Allocation" [(ngModel)]="mmlvl5">
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <label>Fixed Income Fund</label>
        <div class="form-group row" style="margin-top: 10px;">
          <div class="col-md-6">
            <label>Risk level 1</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Money Market Fund Investment Allocation" [(ngModel)]="filvl1">
          </div>
          <div class="col-md-6">
            <label>Risk level 2</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Money Market Fund Investment Allocation" [(ngModel)]="filvl2">
          </div>
          <div class="col-md-6">
            <label>Risk level 3</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Money Market Fund Investment Allocation" [(ngModel)]="filvl3">
          </div>
          <div class="col-md-6">
            <label>Risk level 4</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Money Market Fund Investment Allocation" [(ngModel)]="filvl4">
          </div>
          <div class="col-md-6">
            <label>Risk level 5</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Money Market Fund Investment Allocation" [(ngModel)]="filvl5">
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <label>Commodity Fund</label>
        <div class="form-group row" style="margin-top: 10px;">
          <div class="col-md-6">
            <label>Risk level 1</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Commodity Fund Investment Allocation" [(ngModel)]="commlvl1">
          </div>
          <div class="col-md-6">
            <label>Risk level 2</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Commodity Fund Investment Allocation" [(ngModel)]="commlvl2">
          </div>
          <div class="col-md-6">
            <label>Risk level 3</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Commodity Fund Investment Allocation" [(ngModel)]="commlvl3">
          </div>
          <div class="col-md-6">
            <label>Risk level 4</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Commodity Fund Investment Allocation" [(ngModel)]="commlvl4">
          </div>
          <div class="col-md-6">
            <label>Risk level 5</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Commodity Fund Investment Allocation" [(ngModel)]="commlvl5">
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <label>Property Fund</label>
        <div class="form-group row" style="margin-top: 10px;">
          <div class="col-md-6">
            <label>Risk level 1</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Property Fund Investment Allocation" [(ngModel)]="proplvl1">
          </div>
          <div class="col-md-6">
            <label>Risk level 2</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Property Fund Investment Allocation" [(ngModel)]="proplvl2">
          </div>
          <div class="col-md-6">
            <label>Risk level 3</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Property Fund Investment Allocation" [(ngModel)]="proplvl3">
          </div>
          <div class="col-md-6">
            <label>Risk level 4</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Property Fund Investment Allocation" [(ngModel)]="proplvl4">
          </div>
          <div class="col-md-6">
            <label>Risk level 5</label>
            <input type="text" name="Inflation" class="form-control"
              placeholder="Enter Property Fund Investment Allocation" [(ngModel)]="proplvl5">
          </div>
        </div>
      </div>
    </div>

    <button class="btn btn-primary btn-block" style="width:250px;" (click)="addInvestAllo()">Add
      Investment Allocation</button>
    <button class="btn btn-primary btn-block" style="width:250px;" (click)="Back()">Back</button>

  </div>
</div>