/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Athiti&display=swap');

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  font-family: 'Athiti', sans-serif !important;
  font-size: 18px !important;
}

.flatpickr-weekday {
  font-family: 'Athiti', sans-serif !important;
  font-size: 16px !important;
}

.numInput .cur-year {
  font-family: 'Athiti', sans-serif !important;
  font-size: 18px !important;
}
