<div class="card mb-3">
  <div class="card-header">
    <i class="far fa-newspaper"></i>
    Add Inflation
  </div>

  <div class="card-body">

    <div class="form-group">
      <label for="Inflation">Inflation</label>
      <input type="text" name="Inflation" class="form-control" placeholder="Enter Inflation" [(ngModel)]="inflation">
    </div>

    <button class="btn btn-primary btn-block" style="width:200px;" (click)="addInflation()">Add
      Inflation</button>
    <button class="btn btn-primary btn-block" style="width:200px;" (click)="Back()">Back</button>

  </div>
</div>