<div class="contaner-login">
  <div class="container">
    <div class="card card-login mx-auto my-5">
      <div class="card-header">
        <h1>Change Password</h1>
      </div>
      <div class="card-body">
        <div *ngIf="showResetWarning" class="alert alert-danger" role="alert">{{warnignMessage}}</div>
        <form>
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" name="old-password" class="form-control" placeholder="old-password" [(ngModel)]="oldPassword">
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" name="new-password" class="form-control" placeholder="new-assword" [(ngModel)]="newPassword">
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" name="confirm-new-password" class="form-control" placeholder="confirm-new-password"
                [(ngModel)]="confirmNewPassword">
            </div>
          </div>
          <button class="btn btn-primary btn-block" (click)="clickReset()">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>