<!-- DataTables Example -->
<div class="card mb-3">
  <div class="card-header">
    <span>
      <i class="far fa-newspaper"></i>
      Add Document Type
    </span>

    <!-- <button style="float: right; margin-left: 10px; box-shadow: none" type="button"
          class="btn {{isEn? 'btn-primary': 'btn-light'}}" (click)="setEn()">EN</button>
      <button style="float: right; box-shadow: none" type="button" class="btn {{isTh? 'btn-primary': 'btn-light'}}"
          (click)="setTh()">TH</button> -->
  </div>
  <div class="card-body">
    <div class="table-responsive" style="overflow-x: hidden;">
      <div class="row" style="margin-top: 10px;">
        <div class="col-sm-12">
          <form>
            <div class="form-label-group">
              <label for="">Document Type Name :</label>
              <input #docTypeName (blur)="setDoctypeName(docTypeName.value)" type="text" name="title"
                class="form-control" placeholder="Enter Document Type Name">
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <label for="">Document Type Status :</label>
                <select class="form-control" (change)="setDocTypeStatus($event.target.value)">
                  <option *ngFor="let t of statusDocType" [value]="t.code">{{t.chooes}}</option>
                </select>
              </div>
            </div>

            <button class="btn btn-primary btn-block" style="width:100px;" (click)="addDocType()">Add</button>
            <button class="btn btn-primary btn-block" style="width:100px;" (click)="back()">Back</button>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer small text-muted">
    Updated yesterday at 11:59 PM
  </div>
</div>